In [1]:
import numpy as np
import pandas as pd

### m6A Peaks from m6A-QTL

In [2]:
m6A = pd.read_csv("m6APeak_logOR_GC.IP.adjusted_qqnorm.fastQTL.csv")

In [3]:
m6A.drop(["chr","start","end"], axis=1, inplace=True)

In [4]:
m6A

,PEAK,NA18486,NA18498,NA18499,NA18501,NA18502,NA18504,NA18505,NA18507,NA18508,...,NA19159,NA19160,NA19192,NA19193,NA19200,NA19204,NA19209,NA19222,NA19239,NA19257
0,chr1:14411-15848_WASH7P_-,-1.146621,0.997334,0.804618,0.265444,-0.801265,-0.425203,-1.915076,-2.146463,-0.183832,...,0.805458,1.218469,0.282090,0.639335,-0.507279,0.683169,-2.064107,-1.353039,0.466661,-0.601930
1,chr1:17701-18020_WASH7P_-,0.658074,-0.952786,-0.530067,-0.656867,-0.071116,0.074526,0.827324,-0.240612,-0.617434,...,-0.752965,1.516362,-1.604557,1.487473,-0.465713,0.670188,-0.081105,-0.925413,1.097388,-1.607645
2,chr1:18325-24843_WASH7P_-,-0.232243,1.291052,-1.189139,0.148363,0.834701,0.442016,-0.740765,0.282848,0.984632,...,0.009474,-0.572631,0.958154,-0.374674,-1.873445,2.469786,0.136338,-0.648451,-1.699587,-0.138545
3,chr1:762073-762317_LINC00115_-,0.794752,0.862735,-0.594086,-0.474803,-1.480168,0.578939,-1.038524,0.175438,-0.104282,...,1.354862,-1.339512,-0.877812,-0.381849,-0.564351,-0.220778,-0.924668,0.065880,0.520864,-0.182226
4,chr1:900409-900458_KLHL17_+,0.075622,0.144802,-1.701133,-1.175699,-0.218165,0.841085,-2.488148,-0.509767,0.234490,...,0.499421,0.737572,0.165702,0.802941,-0.446843,1.050259,-0.134867,-0.272623,1.228998,0.082567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20632,chrX:154612681-154612879_F8A2_+,0.213441,1.804928,0.567059,2.539643,0.949921,1.005959,0.024659,0.936843,1.243604,...,0.049334,-0.320093,-0.671557,-0.900537,-0.230746,-1.804928,-0.099032,0.411548,-0.374022,-0.801265
20633,chrX:154612710-154613203_F8A1_+,0.078911,0.150942,-0.722825,0.674909,1.312018,0.064907,0.787610,-0.116014,1.390061,...,-0.394422,-2.200582,-0.383418,-2.644169,0.267961,-0.920949,1.289377,1.181782,-0.959308,0.516973
20634,chrY:7246304-7246403_PRKY_+,0.451142,-0.133029,1.073742,-2.581517,-0.685779,-0.870692,2.545801,-1.746194,0.865028,...,0.787610,-2.648196,-0.213689,0.507003,-0.379890,-0.914656,-0.178522,0.613911,0.736298,0.623176
20635,chrY:7246453-7246502_PRKY_+,-0.247118,1.562022,1.510255,0.658526,-0.357658,-0.577217,-0.924481,-2.588379,-0.429728,...,-0.475619,-0.583973,0.744125,0.655361,-1.110794,-2.339024,-1.850080,0.092565,-0.099521,-1.255803
20636,chrY:21153926-21154625_CD24_-,-0.100986,0.905284,0.888937,0.608494,0.488853,0.360638,-0.062107,0.207232,-1.833523,...,-0.672623,0.100009,-1.114629,0.208101,-0.962005,-0.470185,-0.419228,-0.916134,0.981088,-0.383810

In [5]:
for i in range(len(m6A)):
    m6A.loc[i,"chrom"] = m6A.loc[i, "PEAK"].split(":")[0]
    m6A.loc[i,"PeakStart"] = m6A.loc[i, "PEAK"].split(":")[1].split("-")[0]
    m6A.loc[i,"PeakEnd"] = m6A.loc[i, "PEAK"].split(":")[1].split("-")[1].split("_")[0]
    m6A.loc[i,"name"] = m6A.loc[i, "PEAK"].split(":")[1].split("-")[1].split("_")[1]
    m6A.loc[i,"strand"] = m6A.loc[i, "PEAK"].split("_")[-1]

In [6]:
m6A["PeakStart"] = m6A["PeakStart"].astype(int)
m6A["PeakEnd"] = m6A["PeakEnd"].astype(int)

In [7]:
m6A

,PEAK,NA18486,NA18498,NA18499,NA18501,NA18502,NA18504,NA18505,NA18507,NA18508,...,NA19204,NA19209,NA19222,NA19239,NA19257,chrom,PeakStart,PeakEnd,name,strand
0,chr1:14411-15848_WASH7P_-,-1.146621,0.997334,0.804618,0.265444,-0.801265,-0.425203,-1.915076,-2.146463,-0.183832,...,0.683169,-2.064107,-1.353039,0.466661,-0.601930,chr1,14411,15848,WASH7P,-
1,chr1:17701-18020_WASH7P_-,0.658074,-0.952786,-0.530067,-0.656867,-0.071116,0.074526,0.827324,-0.240612,-0.617434,...,0.670188,-0.081105,-0.925413,1.097388,-1.607645,chr1,17701,18020,WASH7P,-
2,chr1:18325-24843_WASH7P_-,-0.232243,1.291052,-1.189139,0.148363,0.834701,0.442016,-0.740765,0.282848,0.984632,...,2.469786,0.136338,-0.648451,-1.699587,-0.138545,chr1,18325,24843,WASH7P,-
3,chr1:762073-762317_LINC00115_-,0.794752,0.862735,-0.594086,-0.474803,-1.480168,0.578939,-1.038524,0.175438,-0.104282,...,-0.220778,-0.924668,0.065880,0.520864,-0.182226,chr1,762073,762317,LINC00115,-
4,chr1:900409-900458_KLHL17_+,0.075622,0.144802,-1.701133,-1.175699,-0.218165,0.841085,-2.488148,-0.509767,0.234490,...,1.050259,-0.134867,-0.272623,1.228998,0.082567,chr1,900409,900458,KLHL17,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20632,chrX:154612681-154612879_F8A2_+,0.213441,1.804928,0.567059,2.539643,0.949921,1.005959,0.024659,0.936843,1.243604,...,-1.804928,-0.099032,0.411548,-0.374022,-0.801265,chrX,154612681,154612879,F8A2,+
20633,chrX:154612710-154613203_F8A1_+,0.078911,0.150942,-0.722825,0.674909,1.312018,0.064907,0.787610,-0.116014,1.390061,...,-0.920949,1.289377,1.181782,-0.959308,0.516973,chrX,154612710,154613203,F8A1,+
20634,chrY:7246304-7246403_PRKY_+,0.451142,-0.133029,1.073742,-2.581517,-0.685779,-0.870692,2.545801,-1.746194,0.865028,...,-0.914656,-0.178522,0.613911,0.736298,0.623176,chrY,7246304,7246403,PRKY,+
20635,chrY:7246453-7246502_PRKY_+,-0.247118,1.562022,1.510255,0.658526,-0.357658,-0.577217,-0.924481,-2.588379,-0.429728,...,-2.339024,-1.850080,0.092565,-0.099521,-1.255803,chrY,7246453,7246502,PRKY,+
20636,chrY:21153926-21154625_CD24_-,-0.100986,0.905284,0.888937,0.608494,0.488853,0.360638,-0.062107,0.207232,-1.833523,...,-0.470185,-0.419228,-0.916134,0.981088,-0.383810,chrY,21153926,21154625,CD24,-

In [8]:
m6A.rename(columns={"name":"GENE","PEAK":"Peak"}, inplace = True)

In [9]:
Peak = m6A[["chrom","PeakStart","PeakEnd","GENE","Peak","strand"]]

In [10]:
Peak

,chrom,PeakStart,PeakEnd,GENE,Peak,strand
0,chr1,14411,15848,WASH7P,chr1:14411-15848_WASH7P_-,-
1,chr1,17701,18020,WASH7P,chr1:17701-18020_WASH7P_-,-
2,chr1,18325,24843,WASH7P,chr1:18325-24843_WASH7P_-,-
3,chr1,762073,762317,LINC00115,chr1:762073-762317_LINC00115_-,-
4,chr1,900409,900458,KLHL17,chr1:900409-900458_KLHL17_+,+
...,...,...,...,...,...,...
20632,chrX,154612681,154612879,F8A2,chrX:154612681-154612879_F8A2_+,+
20633,chrX,154612710,154613203,F8A1,chrX:154612710-154613203_F8A1_+,+
20634,chrY,7246304,7246403,PRKY,chrY:7246304-7246403_PRKY_+,+
20635,chrY,7246453,7246502,PRKY,chrY:7246453-7246502_PRKY_+,+
20636,chrY,21153926,21154625,CD24,chrY:21153926-21154625_CD24_-,-

In [11]:
Peak.to_csv("m6APeak_QTL.bed", sep="\t", header=False, index=False)

### Extract SNPs

```
cd /pod/2/ke-lab/LUOZ/dbSNP
sort -k1,1 -k2,2n m6APeak_QTL.bed > m6APeak_QTL.sorted.bed

cd Bed
ls *.bed | cut -d"." -f 1 |sort -u |while read id;
do
ls -lh ${id}.bed
bedtools intersect -s -a ${id}.bed -b /pod/2/ke-lab/LUOZ/dbSNP/m6APeak_QTL.sorted.bed -wa -wb > /pod/2/ke-lab/LUOZ/dbSNP/${id}.txt
done
```

In [12]:
import glob,os

In [13]:
path = "/pod/2/ke-lab/LUOZ/dbSNP/m6AQTL"
file = glob.glob(os.path.join(path, "*.txt"))

In [14]:
d = []
for f in file:
    d.append(pd.read_table(f, header=None))

In [15]:
Data = pd.concat(d)

In [16]:
Data

,0,1,2,3,4,5,6,7,8,9,10,11
0,chr20,60775931,60775932,rs1972,0,+,chr20,60775771,60776068,MTG2,chr20:60775771-60776068_MTG2_+,+
1,chr20,3854981,3854982,rs2464,0,+,chr20,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+,+
2,chr20,30157025,30157026,rs4607,0,+,chr20,30157022,30157270,HM13,chr20:30157022-30157270_HM13_+,+
3,chr20,33590357,33590358,rs4616,0,-,chr20,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-,-
4,chr20,2638881,2638882,rs5856,0,+,chr20,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,+
...,...,...,...,...,...,...,...,...,...,...,...,...
196118,chr18,32643963,32643963,rs1491572533,0,+,chr18,32621708,32650235,MAPRE2,chr18:32621708-32650235_MAPRE2_+,+
196119,chr18,77252901,77252903,rs1491572689,0,+,chr18,77246898,77288132,NFATC1,chr18:77246898-77288132_NFATC1_+,+
196120,chr18,9506479,9506481,rs1491576235,0,+,chr18,9475530,9513175,RALBP1,chr18:9475530-9513175_RALBP1_+,+
196121,chr18,60450460,60450460,rs1491576323,0,+,chr18,60384262,60497335,PHLPP1,chr18:60384262-60497335_PHLPP1_+,+
196122,chr18,9509714,9509716,rs1491582525,0,+,chr18,9475530,9513175,RALBP1,chr18:9475530-9513175_RALBP1_+,+

In [17]:
Data = Data[Data[0]==Data[6]]
Data = Data[Data[5]==Data[11]]
Data = Data.reset_index(drop = True)

In [18]:
Data

,0,1,2,3,4,5,6,7,8,9,10,11
0,chr20,60775931,60775932,rs1972,0,+,chr20,60775771,60776068,MTG2,chr20:60775771-60776068_MTG2_+,+
1,chr20,3854981,3854982,rs2464,0,+,chr20,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+,+
2,chr20,30157025,30157026,rs4607,0,+,chr20,30157022,30157270,HM13,chr20:30157022-30157270_HM13_+,+
3,chr20,33590357,33590358,rs4616,0,-,chr20,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-,-
4,chr20,2638881,2638882,rs5856,0,+,chr20,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,+
...,...,...,...,...,...,...,...,...,...,...,...,...
9308802,chr18,32643963,32643963,rs1491572533,0,+,chr18,32621708,32650235,MAPRE2,chr18:32621708-32650235_MAPRE2_+,+
9308803,chr18,77252901,77252903,rs1491572689,0,+,chr18,77246898,77288132,NFATC1,chr18:77246898-77288132_NFATC1_+,+
9308804,chr18,9506479,9506481,rs1491576235,0,+,chr18,9475530,9513175,RALBP1,chr18:9475530-9513175_RALBP1_+,+
9308805,chr18,60450460,60450460,rs1491576323,0,+,chr18,60384262,60497335,PHLPP1,chr18:60384262-60497335_PHLPP1_+,+
9308806,chr18,9509714,9509716,rs1491582525,0,+,chr18,9475530,9513175,RALBP1,chr18:9475530-9513175_RALBP1_+,+

In [19]:
Data = Data.iloc[:,[0,3,5,7,8,9,10]]

In [20]:
Data

,0,3,5,7,8,9,10
0,chr20,rs1972,+,60775771,60776068,MTG2,chr20:60775771-60776068_MTG2_+
1,chr20,rs2464,+,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+
2,chr20,rs4607,+,30157022,30157270,HM13,chr20:30157022-30157270_HM13_+
3,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-
4,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+
...,...,...,...,...,...,...,...
9308802,chr18,rs1491572533,+,32621708,32650235,MAPRE2,chr18:32621708-32650235_MAPRE2_+
9308803,chr18,rs1491572689,+,77246898,77288132,NFATC1,chr18:77246898-77288132_NFATC1_+
9308804,chr18,rs1491576235,+,9475530,9513175,RALBP1,chr18:9475530-9513175_RALBP1_+
9308805,chr18,rs1491576323,+,60384262,60497335,PHLPP1,chr18:60384262-60497335_PHLPP1_+
9308806,chr18,rs1491582525,+,9475530,9513175,RALBP1,chr18:9475530-9513175_RALBP1_+

In [21]:
Data.columns = ["chrom", "SNPID", "strand", "PeakStart","PeakEnd","GENE","Peak"]

In [22]:
Data

,chrom,SNPID,strand,PeakStart,PeakEnd,GENE,Peak
0,chr20,rs1972,+,60775771,60776068,MTG2,chr20:60775771-60776068_MTG2_+
1,chr20,rs2464,+,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+
2,chr20,rs4607,+,30157022,30157270,HM13,chr20:30157022-30157270_HM13_+
3,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-
4,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+
...,...,...,...,...,...,...,...
9308802,chr18,rs1491572533,+,32621708,32650235,MAPRE2,chr18:32621708-32650235_MAPRE2_+
9308803,chr18,rs1491572689,+,77246898,77288132,NFATC1,chr18:77246898-77288132_NFATC1_+
9308804,chr18,rs1491576235,+,9475530,9513175,RALBP1,chr18:9475530-9513175_RALBP1_+
9308805,chr18,rs1491576323,+,60384262,60497335,PHLPP1,chr18:60384262-60497335_PHLPP1_+
9308806,chr18,rs1491582525,+,9475530,9513175,RALBP1,chr18:9475530-9513175_RALBP1_+

In [23]:
Data.drop_duplicates(["chrom","SNPID","strand","GENE","Peak"], inplace=True, keep="first")
Data = Data.reset_index(drop = True)

<ipython-input-23-4c2b19aafb65>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data.drop_duplicates(["chrom","SNPID","strand","GENE","Peak"], inplace=True, keep="first")

In [24]:
Data

,chrom,SNPID,strand,PeakStart,PeakEnd,GENE,Peak
0,chr20,rs1972,+,60775771,60776068,MTG2,chr20:60775771-60776068_MTG2_+
1,chr20,rs2464,+,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+
2,chr20,rs4607,+,30157022,30157270,HM13,chr20:30157022-30157270_HM13_+
3,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-
4,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+
...,...,...,...,...,...,...,...
9308802,chr18,rs1491572533,+,32621708,32650235,MAPRE2,chr18:32621708-32650235_MAPRE2_+
9308803,chr18,rs1491572689,+,77246898,77288132,NFATC1,chr18:77246898-77288132_NFATC1_+
9308804,chr18,rs1491576235,+,9475530,9513175,RALBP1,chr18:9475530-9513175_RALBP1_+
9308805,chr18,rs1491576323,+,60384262,60497335,PHLPP1,chr18:60384262-60497335_PHLPP1_+
9308806,chr18,rs1491582525,+,9475530,9513175,RALBP1,chr18:9475530-9513175_RALBP1_+

### SNP info

In [25]:
SNP = pd.read_table("SNP.txt", sep="\t", low_memorrey=False)
SNP.rename(columns={"#CHROM":"chrom", "ID":"SNPID"}, inplace = True)
SNP.drop(["QUAL","FILTER","INFO","FORMAT"], axis=1, inplace=True)

In [26]:
SNP

,chrom,POS,SNPID,REF,ALT,NA18486,NA18498,NA18499,NA18501,NA18502,...,NA19159,NA19160,NA19192,NA19193,NA19200,NA19204,NA19209,NA19222,NA19239,NA19257
0,chr10,72765,rs199926908,T,C,1|1,1|1,1|1,1|0,1|1,...,1|1,1|0,0|1,1|1,0|0,1|1,0|0,1|1,1|1,1|1
1,chr10,73360,rs369001800,G,C,1|1,1|1,1|1,1|0,1|1,...,1|1,1|0,0|1,1|1,0|0,1|1,0|0,1|1,1|1,1|1
2,chr10,73850,rs61838970,T,C,1|1,0|0,1|1,0|0,1|1,...,1|1,1|0,0|1,1|1,0|0,1|1,0|0,1|1,1|1,1|1
3,chr10,73930,rs536515158,T,C,0|0,0|0,0|0,0|0,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1,0|0,0|0
4,chr10,73963,rs61838971,A,G,1|1,1|1,1|1,1|0,1|1,...,1|1,1|0,0|1,1|1,0|0,1|1,0|0,1|1,1|1,1|1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10200254,chrX,155259783,.,G,GT,1|0,0|0,0|0,0|0,1|0,...,1|0,1|0,0|0,0|0,0|0,1|1,0|1,0|0,0|1,1|0
10200255,chrX,155259986,.,AG,A,0|0,1|0,1|0,0|0,1|0,...,1|1,1|0,0|0,0|0,0|1,0|0,1|0,0|0,0|1,0|1
10200256,chrX,155260016,.,G,GTT,1|1,1|1,1|1,0|1,1|0,...,1|0,0|1,1|1,1|1,1|0,1|0,0|1,0|1,1|0,1|0
10200257,chrX,155260472,.,TG,T,1|0,1|1,1|0,0|0,1|0,...,1|1,0|1,0|1,0|1,0|1,1|0,1|1,1|1,1|1,1|1
10200258,chrX,155260478,.,T,TTA,0|0,0|0,0|1,0|1,0|0,...,0|1,0|1,1|0,0|0,0|0,0|1,1|1,0|0,0|1,0|0

In [27]:
Data = pd.merge(Data, SNP, how="inner", on=["chrom","SNPID"])

In [28]:
Data

,chrom,SNPID,strand,PeakStart,PeakEnd,GENE,Peak,POS,REF,ALT,...,NA19159,NA19160,NA19192,NA19193,NA19200,NA19204,NA19209,NA19222,NA19239,NA19257
0,chr20,rs2464,+,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+,3854982,C,T,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,chr20,rs4607,+,30157022,30157270,HM13,chr20:30157022-30157270_HM13_+,30157026,A,G,...,1|1,1|1,0|1,0|1,1|1,1|1,1|0,1|1,1|1,1|1
2,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-,33590358,C,T,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638882,T,C,...,0|0,1|0,1|1,1|0,1|0,1|1,0|1,1|0,1|1,0|1
4,chr20,rs6753,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638579,T,C,...,0|0,1|0,1|1,1|0,1|0,1|1,0|1,1|0,1|1,0|1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114128,chr18,rs574488222,+,60036083,60052497,TNFRSF11A,chr18:60036083-60052497_TNFRSF11A_+,60049340,CTTTTTTTTTTT,C,...,0|1,0|0,0|1,0|0,1|1,1|0,0|0,0|0,0|0,0|0
114129,chr18,rs575153977,+,23937751,23970100,TAF4B,chr18:23937751-23970100_TAF4B_+,23965528,A,AT,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1,0|0
114130,chr18,rs576034927,+,29122773,29126087,DSG2,chr18:29122773-29126087_DSG2_+,29123827,TA,T,...,0|1,0|0,0|1,0|0,1|1,1|0,1|0,0|1,0|0,1|1
114131,chr18,rs576749370,+,77496383,77514410,CTDP1,chr18:77496383-77514410_CTDP1_+,77498046,G,GC,...,0|0,0|0,0|1,0|0,0|0,1|0,0|1,0|1,1|0,1|0
114132,chr18,rs577878631,+,29078077,29099794,DSG2,chr18:29078077-29099794_DSG2_+,29079999,TA,T,...,0|0,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [29]:
Data = Data[(Data["REF"]=="A") | (Data["REF"]=="T") | (Data["REF"]=="C") | (Data["REF"]=="G")]
Data = Data[(Data["ALT"]=="A") | (Data["ALT"]=="T") | (Data["ALT"]=="C") | (Data["ALT"]=="G")]
Data = Data.reset_index(drop = True)

In [30]:
Data

,chrom,SNPID,strand,PeakStart,PeakEnd,GENE,Peak,POS,REF,ALT,...,NA19159,NA19160,NA19192,NA19193,NA19200,NA19204,NA19209,NA19222,NA19239,NA19257
0,chr20,rs2464,+,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+,3854982,C,T,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,chr20,rs4607,+,30157022,30157270,HM13,chr20:30157022-30157270_HM13_+,30157026,A,G,...,1|1,1|1,0|1,0|1,1|1,1|1,1|0,1|1,1|1,1|1
2,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-,33590358,C,T,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638882,T,C,...,0|0,1|0,1|1,1|0,1|0,1|1,0|1,1|0,1|1,0|1
4,chr20,rs6753,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638579,T,C,...,0|0,1|0,1|1,1|0,1|0,1|1,0|1,1|0,1|1,0|1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100316,chr18,rs568638313,+,77246898,77288132,NFATC1,chr18:77246898-77288132_NFATC1_+,77281663,G,T,...,0|1,0|0,0|0,0|0,0|0,0|0,0|1,0|0,0|0,1|0
100317,chr18,rs569666604,+,54398824,54424257,WDR7,chr18:54398824-54424257_WDR7_+,54401237,G,C,...,0|0,0|0,0|0,0|0,0|0,0|1,0|0,0|0,1|0,0|0
100318,chr18,rs570323738,+,59854623,59878438,KIAA1468,chr18:59854623-59878438_KIAA1468_+,59856494,T,G,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
100319,chr18,rs571362497,+,42532874,42618516,SETBP1,chr18:42532874-42618516_SETBP1_+,42593403,T,C,...,0|0,0|1,1|0,0|0,0|0,1|0,0|0,0|0,0|0,1|0
100320,chr18,rs573480389,+,33283526,33290303,GALNT1,chr18:33283526-33290303_GALNT1_+,33284244,T,A,...,1|0,1|1,0|0,0|0,0|0,0|1,1|1,0|0,0|0,0|0

In [31]:
Table = Data.iloc[:,0:10]

In [32]:
Table

,chrom,SNPID,strand,PeakStart,PeakEnd,GENE,Peak,POS,REF,ALT
0,chr20,rs2464,+,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+,3854982,C,T
1,chr20,rs4607,+,30157022,30157270,HM13,chr20:30157022-30157270_HM13_+,30157026,A,G
2,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-,33590358,C,T
3,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638882,T,C
4,chr20,rs6753,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638579,T,C
...,...,...,...,...,...,...,...,...,...,...
100316,chr18,rs568638313,+,77246898,77288132,NFATC1,chr18:77246898-77288132_NFATC1_+,77281663,G,T
100317,chr18,rs569666604,+,54398824,54424257,WDR7,chr18:54398824-54424257_WDR7_+,54401237,G,C
100318,chr18,rs570323738,+,59854623,59878438,KIAA1468,chr18:59854623-59878438_KIAA1468_+,59856494,T,G
100319,chr18,rs571362497,+,42532874,42618516,SETBP1,chr18:42532874-42618516_SETBP1_+,42593403,T,C
100320,chr18,rs573480389,+,33283526,33290303,GALNT1,chr18:33283526-33290303_GALNT1_+,33284244,T,A

In [33]:
Table["Start"] = Table["POS"]-1
Table["End"] = Table["POS"]

In [34]:
Table

,chrom,SNPID,strand,PeakStart,PeakEnd,GENE,Peak,POS,REF,ALT,Start,End
0,chr20,rs2464,+,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+,3854982,C,T,3854981,3854982
1,chr20,rs4607,+,30157022,30157270,HM13,chr20:30157022-30157270_HM13_+,30157026,A,G,30157025,30157026
2,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-,33590358,C,T,33590357,33590358
3,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638882,T,C,2638881,2638882
4,chr20,rs6753,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638579,T,C,2638578,2638579
...,...,...,...,...,...,...,...,...,...,...,...,...
100316,chr18,rs568638313,+,77246898,77288132,NFATC1,chr18:77246898-77288132_NFATC1_+,77281663,G,T,77281662,77281663
100317,chr18,rs569666604,+,54398824,54424257,WDR7,chr18:54398824-54424257_WDR7_+,54401237,G,C,54401236,54401237
100318,chr18,rs570323738,+,59854623,59878438,KIAA1468,chr18:59854623-59878438_KIAA1468_+,59856494,T,G,59856493,59856494
100319,chr18,rs571362497,+,42532874,42618516,SETBP1,chr18:42532874-42618516_SETBP1_+,42593403,T,C,42593402,42593403
100320,chr18,rs573480389,+,33283526,33290303,GALNT1,chr18:33283526-33290303_GALNT1_+,33284244,T,A,33284243,33284244

In [35]:
Bed = Table.iloc[:, [0, 10, 11]]
Bed.to_csv("m6AQTL_SNP.bed", sep="\t", header=False, index=False)
!bedtools getfasta -bed m6AQTL_SNP.bed -fi /pod/2/ke-lab/LUOZ/Reference/Fasta/hg19/hg19.fa -fo m6AQTL_SNP.txt

In [36]:
from Bio import SeqIO
from Bio.Seq import Seq

In [37]:
meta=[]
sequence=[]

In [38]:
seq = ('m6AQTL_SNP.txt')
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [39]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [40]:
Table = pd.merge(Table, Fasta, left_index=True, right_index=True, how='outer')

In [41]:
Table["Sequence"] = Table["Sequence"].str.upper()

In [42]:
Table = Table[Table["REF"] == Table["Sequence"]]
Table = Table.reset_index(drop = True)

In [43]:
Table.drop(["Start","End","Meta","Sequence"], axis=1, inplace=True)

In [44]:
Table.rename(columns={"GENE":"name"}, inplace = True)

In [45]:
Table

,chrom,SNPID,strand,PeakStart,PeakEnd,name,Peak,POS,REF,ALT
0,chr20,rs2464,+,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+,3854982,C,T
1,chr20,rs4607,+,30157022,30157270,HM13,chr20:30157022-30157270_HM13_+,30157026,A,G
2,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-,33590358,C,T
3,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638882,T,C
4,chr20,rs6753,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638579,T,C
...,...,...,...,...,...,...,...,...,...,...
100316,chr18,rs568638313,+,77246898,77288132,NFATC1,chr18:77246898-77288132_NFATC1_+,77281663,G,T
100317,chr18,rs569666604,+,54398824,54424257,WDR7,chr18:54398824-54424257_WDR7_+,54401237,G,C
100318,chr18,rs570323738,+,59854623,59878438,KIAA1468,chr18:59854623-59878438_KIAA1468_+,59856494,T,G
100319,chr18,rs571362497,+,42532874,42618516,SETBP1,chr18:42532874-42618516_SETBP1_+,42593403,T,C
100320,chr18,rs573480389,+,33283526,33290303,GALNT1,chr18:33283526-33290303_GALNT1_+,33284244,T,A

In [46]:
StopCodon = pd.read_csv("HumanStopCodon.csv")
Group = pd.read_csv("HumanGroup.csv")

In [47]:
Group = pd.merge(Group, StopCodon, how="inner", on=["chrom","name","strand","txStart","txEnd","cdsStart","cdsEnd","LastExonStart","LastExonEnd"])
Group = Group[Group["Group"]==2]
Group = Group.reset_index(drop = True)

In [48]:
Group.drop(["exonCount","Group","StopCodon"], axis=1, inplace=True)

In [49]:
Group

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,AL645608.2,chr1,+,818042,819983,818042,819983,819960,819983
1,SAMD11,chr1,+,861117,879955,861321,879533,879287,879955
2,NOC2L,chr1,-,879583,894670,880073,894620,879583,880180
3,KLHL17,chr1,+,895966,901095,896073,900571,900342,901095
4,PLEKHN1,chr1,+,901876,910488,901911,909955,909821,910488
...,...,...,...,...,...,...,...,...,...
17209,CDY1,chrY,+,27768308,27771049,27768589,27770674,27770601,27771049
17210,AC007965.1,chrY,-,28111775,28114889,28111775,28114889,28111775,28111809
17211,SPRY3,chrY,+,59100479,59115127,59106539,59107406,59106433,59115127
17212,VAMP7,chrY,+,59213961,59276439,59222135,59274621,59274552,59276439
17213,IL9R,chrY,+,59330376,59343488,59330444,59342523,59342486,59343488

In [50]:
Table = pd.merge(Table, Group, how="inner", on=["chrom","name","strand"])

In [51]:
Table

,chrom,SNPID,strand,PeakStart,PeakEnd,name,Peak,POS,REF,ALT,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr20,rs2464,+,3854127,3855174,MAVS,chr20:3854127-3855174_MAVS_+,3854982,C,T,3827489,3849280,3835271,3846794,3846329,3849280
1,chr20,rs3746661,+,3846845,3847244,MAVS,chr20:3846845-3847244_MAVS_+,3847142,G,C,3827489,3849280,3835271,3846794,3846329,3849280
2,chr20,rs3746662,+,3847294,3847393,MAVS,chr20:3847294-3847393_MAVS_+,3847325,A,C,3827489,3849280,3835271,3846794,3846329,3849280
3,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-,33590358,C,T,33590206,33680610,33590948,33680584,33590206,33591086
4,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638882,T,C,2632790,2639039,2633306,2638940,2638574,2639039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92705,chr18,rs10164140,+,47919599,47919895,SKA1,chr18:47919599-47919895_SKA1_+,47919635,G,A,47901364,47920543,47902200,47918617,47918468,47920543
92706,chr18,rs16951872,+,47918511,47918610,SKA1,chr18:47918511-47918610_SKA1_+,47918536,C,T,47901364,47920543,47902200,47918617,47918468,47920543
92707,chr18,rs17072097,+,61582745,61582794,SERPINB10,chr18:61582745-61582794_SERPINB10_+,61582751,T,G,61575224,61603345,61582744,61602476,61602071,61603345
92708,chr18,rs34402690,-,5290657,5291650,ZBTB14,chr18:5290657-5291650_ZBTB14_-,5291304,C,T,5289017,5296039,5290856,5293245,5289017,5292203
92709,chr18,rs35287972,+,77896284,77896632,ADNP2,chr18:77896284-77896632_ADNP2_+,77896308,A,G,77866914,77898234,77875425,77896692,77893494,77898234

In [52]:
Table = Table[(Table["POS"]>Table["txStart"])&(Table["POS"]<Table["txEnd"])]
Table = Table.reset_index(drop = True)

In [53]:
Table

,chrom,SNPID,strand,PeakStart,PeakEnd,name,Peak,POS,REF,ALT,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr20,rs3746661,+,3846845,3847244,MAVS,chr20:3846845-3847244_MAVS_+,3847142,G,C,3827489,3849280,3835271,3846794,3846329,3849280
1,chr20,rs3746662,+,3847294,3847393,MAVS,chr20:3847294-3847393_MAVS_+,3847325,A,C,3827489,3849280,3835271,3846794,3846329,3849280
2,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-,33590358,C,T,33590206,33680610,33590948,33680584,33590206,33591086
3,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638882,T,C,2632790,2639039,2633306,2638940,2638574,2639039
4,chr20,rs6753,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638579,T,C,2632790,2639039,2633306,2638940,2638574,2639039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90093,chr18,rs10164140,+,47919599,47919895,SKA1,chr18:47919599-47919895_SKA1_+,47919635,G,A,47901364,47920543,47902200,47918617,47918468,47920543
90094,chr18,rs16951872,+,47918511,47918610,SKA1,chr18:47918511-47918610_SKA1_+,47918536,C,T,47901364,47920543,47902200,47918617,47918468,47920543
90095,chr18,rs17072097,+,61582745,61582794,SERPINB10,chr18:61582745-61582794_SERPINB10_+,61582751,T,G,61575224,61603345,61582744,61602476,61602071,61603345
90096,chr18,rs34402690,-,5290657,5291650,ZBTB14,chr18:5290657-5291650_ZBTB14_-,5291304,C,T,5289017,5296039,5290856,5293245,5289017,5292203
90097,chr18,rs35287972,+,77896284,77896632,ADNP2,chr18:77896284-77896632_ADNP2_+,77896308,A,G,77866914,77898234,77875425,77896692,77893494,77898234

In [54]:
Table.drop_duplicates(["SNPID"], inplace=True, keep="first")
Table = Table.reset_index(drop = True)

In [55]:
Table

,chrom,SNPID,strand,PeakStart,PeakEnd,name,Peak,POS,REF,ALT,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr20,rs3746661,+,3846845,3847244,MAVS,chr20:3846845-3847244_MAVS_+,3847142,G,C,3827489,3849280,3835271,3846794,3846329,3849280
1,chr20,rs3746662,+,3847294,3847393,MAVS,chr20:3847294-3847393_MAVS_+,3847325,A,C,3827489,3849280,3835271,3846794,3846329,3849280
2,chr20,rs4616,-,33590306,33591323,TRPC4AP,chr20:33590306-33591323_TRPC4AP_-,33590358,C,T,33590206,33680610,33590948,33680584,33590206,33591086
3,chr20,rs5856,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638882,T,C,2632790,2639039,2633306,2638940,2638574,2639039
4,chr20,rs6753,+,2637782,2638989,NOP56,chr20:2637782-2638989_NOP56_+,2638579,T,C,2632790,2639039,2633306,2638940,2638574,2639039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89886,chr18,rs10164140,+,47919599,47919895,SKA1,chr18:47919599-47919895_SKA1_+,47919635,G,A,47901364,47920543,47902200,47918617,47918468,47920543
89887,chr18,rs16951872,+,47918511,47918610,SKA1,chr18:47918511-47918610_SKA1_+,47918536,C,T,47901364,47920543,47902200,47918617,47918468,47920543
89888,chr18,rs17072097,+,61582745,61582794,SERPINB10,chr18:61582745-61582794_SERPINB10_+,61582751,T,G,61575224,61603345,61582744,61602476,61602071,61603345
89889,chr18,rs34402690,-,5290657,5291650,ZBTB14,chr18:5290657-5291650_ZBTB14_-,5291304,C,T,5289017,5296039,5290856,5293245,5289017,5292203
89890,chr18,rs35287972,+,77896284,77896632,ADNP2,chr18:77896284-77896632_ADNP2_+,77896308,A,G,77866914,77898234,77875425,77896692,77893494,77898234

In [56]:
Table.to_csv("m6A_QTL_Allsite.csv", index=0)