In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("UniqmRNA_GENCODE_VM7com_mm10_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data.drop([0,11,13,14], axis=1, inplace=True)

In [4]:
Data[1] = Data[12]

In [5]:
Data.drop([12], axis=1, inplace=True)

In [6]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds","Interval"]

In [7]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...","-1,0,1,1,2,2,2,0,"
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,","0,0,1,0,0,2,0,-1,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,","0,0,1,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,","0,-1,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,","0,"

In [8]:
Group = pd.read_csv("/pod/2/ke-lab/LUOZ/m6AAI/Group.csv")

In [9]:
Group

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,LastExonStart,LastExonEnd,Group
0,Xkr4,chr1,-,3214481,3671498,3216021,3671348,3,3214481,3216968,2
1,Rp1,chr1,-,4290845,4409241,4292980,4409187,4,4290845,4293012,2
2,Sox17,chr1,-,4491389,4497354,4491715,4495155,4,4491389,4492668,2
3,Mrpl15,chr1,-,4773210,4785739,4776463,4785677,5,4773210,4776801,2
4,Lypla1,chr1,+,4807822,4846739,4807913,4845016,9,4844962,4846739,2
...,...,...,...,...,...,...,...,...,...,...,...
22352,Gm21996,chrY,-,89713423,89745532,89713627,89744111,10,89713423,89713657,2
22353,Gm20837,chrY,+,90401247,90433263,90402678,90433059,8,90433029,90433263,2
22354,Gm21860,chrY,-,90754512,90754821,90754512,90754821,1,90754512,90754821,1
22355,Erdr1,chrY,+,90785441,90816464,90785670,90816447,4,90816435,90816464,2
22356,Gm21748,chrY,-,90838868,90839177,90838868,90839177,1,90838868,90839177,1

In [10]:
Data = pd.merge(Data, Group, how="inner", on=["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd","exonCount"])

In [11]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,LastExonStart,LastExonEnd,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",134199224,134203590,2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",8361474,8363633,2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",25067549,25068356,2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",33453809,33454304,2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",58753783,58758884,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",60864050,60864719,2
22353,Gm7102,chr19,-,61174685,61176309,61175458,61175995,1,"61174685,","61176309,","0,",61174685,61176309,1
22354,Gm6020,chr19,+,61183889,61183955,61183889,61183955,1,"61183889,","61183955,","0,",61183889,61183955,1
22355,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",61224401,61225033,2
22356,Gm21060,chr19,-,61296901,61297069,61296901,61297069,1,"61296901,","61297069,","0,",61296901,61297069,1

In [12]:
Data = Data[Data["Group"]==2]
Data = Data.reset_index(drop = True)

In [13]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,LastExonStart,LastExonEnd,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",134199224,134203590,2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",8361474,8363633,2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",25067549,25068356,2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",33453809,33454304,2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",58753783,58758884,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18634,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",60198585,60199487,2
18635,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",60761115,60762304,2
18636,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",60838747,60839050,2
18637,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",60864050,60864719,2
18638,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",61224401,61225033,2

In [15]:
Bed = Data[["chrom", "LastExonStart", "LastExonEnd", "name", "Group", "strand"]]

In [16]:
Bed.to_csv("LastExon.bed", sep="\t", header=False, index=False)

In [17]:
iM6A = pd.read_csv("iM6A_m3cRAC.csv")

In [18]:
iM6A

         chrom     Start       End     name    Probabilty strand
0         chr1   3214485   3214486     Xkr4  1.316975e-05      -
1         chr1   3214554   3214555     Xkr4  9.799121e-07      -
2         chr1   3214662   3214663     Xkr4  1.997159e-01      -
3         chr1   3214724   3214725     Xkr4  1.521015e-01      -
4         chr1   3214732   3214733     Xkr4  6.528376e-01      -
...        ...       ...       ...      ...           ...    ...
19671398  chrY  90816408  90816409    Erdr1  7.192771e-05      +
19671399  chrY  90816418  90816419    Erdr1  5.691654e-05      +
19671400  chrY  90838880  90838881  Gm21748  1.863572e-03      -
19671401  chrY  90839032  90839033  Gm21748  1.835544e-04      -
19671402  chrY  90839058  90839059  Gm21748  7.413900e-03      -

[19671403 rows x 6 columns]

In [19]:
iM6A.to_csv("iM6A.bed", sep="\t", header=False, index=False)

In [21]:
!bedtools intersect -s -a iM6A.bed -b LastExon.bed -wa -wb > LastExon.txt

In [22]:
LastExon = pd.read_table("LastExon.txt", header=None)

In [23]:
LastExon

,0,1,2,3,4,5,6,7,8,9,10,11
0,chr1,3214485,3214486,Xkr4,1.316975e-05,-,chr1,3214481,3216968,Xkr4,2,-
1,chr1,3214554,3214555,Xkr4,9.799121e-07,-,chr1,3214481,3216968,Xkr4,2,-
2,chr1,3214662,3214663,Xkr4,1.997159e-01,-,chr1,3214481,3216968,Xkr4,2,-
3,chr1,3214724,3214725,Xkr4,1.521015e-01,-,chr1,3214481,3216968,Xkr4,2,-
4,chr1,3214732,3214733,Xkr4,6.528376e-01,-,chr1,3214481,3216968,Xkr4,2,-
...,...,...,...,...,...,...,...,...,...,...,...,...
762804,chrY,90433054,90433055,Gm20837,3.614964e-02,+,chrY,90433029,90433263,Gm20837,2,+
762805,chrY,90433085,90433086,Gm20837,2.461245e-02,+,chrY,90433029,90433263,Gm20837,2,+
762806,chrY,90433121,90433122,Gm20837,6.068085e-05,+,chrY,90433029,90433263,Gm20837,2,+
762807,chrY,90433218,90433219,Gm20837,5.482289e-07,+,chrY,90433029,90433263,Gm20837,2,+
762808,chrY,90433258,90433259,Gm20837,4.505046e-07,+,chrY,90433029,90433263,Gm20837,2,+

In [24]:
LastExon = LastExon[[0,1,2,3,4,5]]
LastExon.columns = ["chrom","Start","End","name","Probabilty","strand"]

In [26]:
M6A = iM6A.append(LastExon)
M6A = M6A.drop_duplicates(subset=["chrom","Start","End","name","Probabilty","strand"], keep=False)
M6A = M6A.reset_index(drop = True)

In [27]:
M6A

         chrom     Start       End     name    Probabilty strand
0         chr1   3214485   3214486     Xkr4  1.316975e-05      -
1         chr1   3215001   3215002     Xkr4  1.286814e-02      -
2         chr1   3215768   3215769     Xkr4  1.059602e-03      -
3         chr1   3216032   3216033     Xkr4  2.297998e-02      -
4         chr1   3216995   3216996     Xkr4  6.921049e-07      -
...        ...       ...       ...      ...           ...    ...
19132321  chrY  87575686  87575687  Gm20906  1.794157e-06      +
19132322  chrY  88079292  88079293  Gm28102  5.797467e-02      +
19132323  chrY  89078975  89078976  Gm21294  2.526341e-06      +
19132324  chrY  89713631  89713632  Gm21996  5.793034e-02      -
19132325  chrY  90433258  90433259  Gm20837  4.505046e-07      +

[19132326 rows x 6 columns]

In [30]:
Label = pd.read_csv("iM6A_m3cRAC_Label.csv")

In [31]:
Label

         chrom     Start       End     name    Probabilty strand  Label
0         chr1   3214485   3214486     Xkr4  1.316975e-05      -      0
1         chr1   3214554   3214555     Xkr4  9.799121e-07      -      0
2         chr1   3214662   3214663     Xkr4  1.997159e-01      -      1
3         chr1   3214724   3214725     Xkr4  1.521015e-01      -      0
4         chr1   3214732   3214733     Xkr4  6.528376e-01      -      1
...        ...       ...       ...      ...           ...    ...    ...
19671398  chrY  90816408  90816409    Erdr1  7.192771e-05      +      0
19671399  chrY  90816418  90816419    Erdr1  5.691654e-05      +      0
19671400  chrY  90838880  90838881  Gm21748  1.863572e-03      -      0
19671401  chrY  90839032  90839033  Gm21748  1.835544e-04      -      0
19671402  chrY  90839058  90839059  Gm21748  7.413900e-03      -      0

[19671403 rows x 7 columns]

In [32]:
M6A = pd.merge(M6A, Label, how="inner", on=["chrom","Start","End","name","Probabilty","strand"])

In [33]:
M6A

         chrom     Start       End     name    Probabilty strand  Label
0         chr1   3214485   3214486     Xkr4  1.316975e-05      -      0
1         chr1   3215001   3215002     Xkr4  1.286814e-02      -      0
2         chr1   3215768   3215769     Xkr4  1.059602e-03      -      0
3         chr1   3216032   3216033     Xkr4  2.297998e-02      -      0
4         chr1   3216995   3216996     Xkr4  6.921049e-07      -      0
...        ...       ...       ...      ...           ...    ...    ...
19038193  chrY  90816408  90816409    Erdr1  7.192771e-05      +      0
19038194  chrY  90816418  90816419    Erdr1  5.691654e-05      +      0
19038195  chrY  90838880  90838881  Gm21748  1.863572e-03      -      0
19038196  chrY  90839032  90839033  Gm21748  1.835544e-04      -      0
19038197  chrY  90839058  90839059  Gm21748  7.413900e-03      -      0

[19038198 rows x 7 columns]

In [34]:
M6A = M6A[M6A["Label"]==1]
M6A = M6A.reset_index(drop = True)

In [35]:
M6A

      chrom      Start        End    name  Probabilty strand  Label
0      chr1    3671301    3671302    Xkr4    0.127194      -      1
1      chr1    4781429    4781430  Mrpl15    0.110921      -      1
2      chr1    4782011    4782012  Mrpl15    0.292675      -      1
3      chr1    4782018    4782019  Mrpl15    0.172773      -      1
4      chr1    4782025    4782026  Mrpl15    0.357833      -      1
...     ...        ...        ...     ...         ...    ...    ...
21945  chrX  167478918  167478919  Frmpd4    0.193767      -      1
21946  chrX  169979578  169979579    Mid1    0.145254      +      1
21947  chrX  169990039  169990040    Mid1    0.425552      +      1
21948  chrY   90812754   90812755   Erdr1    0.000005      +      1
21949  chrY   90812808   90812809   Erdr1    0.000003      +      1

[21950 rows x 7 columns]

### Extract Exon.bed

In [36]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,Interval,LastExonStart,LastExonEnd,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,","2,0,-1,",134199224,134203590,2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...","0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,",8361474,8363633,2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...","0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,...",25067549,25068356,2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...","0,0,1,0,0,2,0,0,0,2,0,1,0,-1,",33453809,33454304,2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...","-1,0,2,0,1,0,1,0,1,2,",58753783,58758884,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18634,Fam204a,chr19,-,60198585,60226697,60199435,60221296,8,"60198585,60199969,60212672,60220039,60220329,6...","60199487,60200076,60212762,60220139,60220360,6...","2,0,0,2,1,0,0,-1,",60198585,60199487,2
18635,Eif3a,chr19,-,60761115,60790693,60762080,60790517,22,"60761115,60763064,60764031,60766333,60767574,6...","60762304,60763264,60764233,60766995,60767663,6...","1,2,1,2,0,1,0,0,0,0,0,0,0,0,0,2,0,1,2,0,1,0,",60761115,60762304,2
18636,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,14,"60838747,60842118,60844208,60850958,60852011,6...","60839050,60842236,60844294,60851074,60852090,6...","0,2,0,1,0,0,0,0,1,0,0,0,0,0,",60838747,60839050,2
18637,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6...","0,2,0,2,1,0,0,",60864050,60864719,2
18638,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6...","0,2,1,0,0,1,2,1,0,1,0,-1,",61224401,61225033,2

In [37]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [38]:
for i in range(len(Positive)):
    df = pd.DataFrame(np.random.randn((Positive.loc[i,"exonCount"]), 3))
    df.columns = ["name", "chrom", "strand"]
    df["name"] = Positive.loc[i,"name"]
    df["chrom"] = Positive.loc[i,"chrom"]
    df["strand"] = Positive.loc[i,"strand"]
    
    exonStarts = Positive.loc[i, "exonStarts"].split(",")[0:-1]
    exonEnds = Positive.loc[i, "exonEnds"].split(",")[0:-1]
    exonInterval = Positive.loc[i, "Interval"].split(",")[0:-1]
    
    Start = pd.DataFrame(exonStarts, columns=["Start"])
    End = pd.DataFrame(exonEnds, columns=["End"])
    Interval = pd.DataFrame(exonInterval, columns=["Interval"])
    
    df = pd.concat([df, Start], axis=1)
    df = pd.concat([df, End], axis=1)
    df = pd.concat([df, Interval], axis=1)
    
    list = range(1, (Positive.loc[i,"exonCount"]+1))
    Count = pd.DataFrame(list, columns=["Count"])
    df = pd.concat([df, Count], axis=1)
    
    df["End"] = df["End"].astype(int)
    df["Start"] = df["Start"].astype(int)
    df["exonLength"] = df["End"] - df["Start"]
    df["cumsum"] = df["exonLength"].cumsum()
    
    df.to_csv("./Exon/{}.bed".format(Positive.loc[i,"name"]), sep="\t", index=False)

In [39]:
for i in range(len(Negative)):
    df = pd.DataFrame(np.random.randn((Negative.loc[i,"exonCount"]), 3))
    df.columns = ["name", "chrom", "strand"]
    df["name"] = Negative.loc[i,"name"]
    df["chrom"] = Negative.loc[i,"chrom"]
    df["strand"] = Negative.loc[i,"strand"]
    
    exonStarts = Negative.loc[i, "exonStarts"].split(",")[0:-1]
    exonEnds = Negative.loc[i, "exonEnds"].split(",")[0:-1]
    exonInterval = Negative.loc[i, "Interval"].split(",")[0:-1]
    
    Start = pd.DataFrame(exonStarts, columns=["Start"])
    End = pd.DataFrame(exonEnds, columns=["End"])
    Interval = pd.DataFrame(exonInterval, columns=["Interval"])
    
    df = pd.concat([df, Start], axis=1)
    df = pd.concat([df, End], axis=1)
    df = pd.concat([df, Interval], axis=1)
    
    df.sort_index(inplace=True, ascending=False)
    df = df.reset_index(drop = True)
    
    list = range(1, (Negative.loc[i,"exonCount"]+1))
    Count = pd.DataFrame(list, columns=["Count"])
    df = pd.concat([df, Count], axis=1)
    
    
    df["End"] = df["End"].astype(int)
    df["Start"] = df["Start"].astype(int)
    df["exonLength"] = df["End"] - df["Start"]
    df["cumsum"] = df["exonLength"].cumsum()
    
    df.to_csv("./Exon/{}.bed".format(Negative.loc[i,"name"]), sep="\t", index=False)

In [40]:
import glob,os

In [41]:
path = "Exon"

In [42]:
file = glob.glob(os.path.join(path, "*.bed"))

In [43]:
d = []
for f in file:
    d.append(pd.read_table(f))

In [44]:
Exon = pd.concat(d)

In [45]:
Exon = Exon[["chrom","Start","End","name","Count","strand","Interval","exonLength","cumsum"]]
Exon = Exon.reset_index(drop = True)

In [48]:
Exon.columns = ["chrom","exonStart","exonEnd","name","ExonOrder","strand","Interval","ExonLength","CumSum"]

In [49]:
Exon

,chrom,exonStart,exonEnd,name,ExonOrder,strand,Interval,ExonLength,CumSum
0,chr11,96075626,96075670,Atp5g1,1,-,-1,44,44
1,chr11,96074986,96075033,Atp5g1,2,-,0,47,91
2,chr11,96073961,96074039,Atp5g1,3,-,0,78,169
3,chr11,96073522,96073701,Atp5g1,4,-,0,179,348
4,chr11,96068851,96073218,Atp5g1,5,-,2,4367,4715
...,...,...,...,...,...,...,...,...,...
192934,chr17,20279455,20279750,Vmn2r106,2,-,2,295,516
192935,chr17,20278327,20279131,Vmn2r106,3,-,0,804,1320
192936,chr17,20277439,20277655,Vmn2r106,4,-,0,216,1536
192937,chr17,20275800,20275924,Vmn2r106,5,-,0,124,1660
192938,chr17,20267546,20268475,Vmn2r106,6,-,1,929,2589

In [50]:
Exon.to_csv("ExonBed.csv",index=0)

In [51]:
Data.drop(["exonCount","exonStarts","exonEnds","Interval","Group"], axis=1, inplace=True)

In [52]:
Data = pd.merge(Data, Exon, how="inner", on=["chrom", "name", "strand"])

In [53]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,exonStart,exonEnd,ExonOrder,Interval,ExonLength,CumSum
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590,134235227,134235431,1,-1,204,204
1,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590,134234014,134234412,2,0,398,602
2,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590,134199224,134203590,3,2,4366,4968
3,Sntg1,chr1,-,8361474,9299238,8363474,8803943,8361474,8363633,9298132,9299238,1,-1,1106,1106
4,Sntg1,chr1,-,8361474,9299238,8363474,8803943,8361474,8363633,9203178,9203260,2,-1,82,1188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192934,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033,61225791,61225821,8,0,30,908
192935,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033,61225522,61225652,9,0,130,1038
192936,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033,61225323,61225420,10,1,97,1135
192937,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033,61225132,61225214,11,2,82,1217
192938,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,61224401,61225033,61224401,61225033,12,0,632,1849

In [54]:
Data = pd.merge(Data, M6A, how="inner", on=["name","chrom","strand"])

In [55]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,exonStart,exonEnd,ExonOrder,Interval,ExonLength,CumSum,Start,End,Probabilty,Label
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590,134235227,134235431,1,-1,204,204,134234569,134234570,0.017889,1
1,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590,134235227,134235431,1,-1,204,204,134234579,134234580,0.019322,1
2,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590,134235227,134235431,1,-1,204,204,134234777,134234778,0.005116,1
3,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590,134234014,134234412,2,0,398,602,134234569,134234570,0.017889,1
4,Adora1,chr1,-,134199224,134235431,134202950,134234355,134199224,134203590,134234014,134234412,2,0,398,602,134234579,134234580,0.019322,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263578,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60761115,60762304,22,1,1189,5176,60766638,60766639,0.411896,1
263579,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60761115,60762304,22,1,1189,5176,60766679,60766680,0.584926,1
263580,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60761115,60762304,22,1,1189,5176,60766685,60766686,0.446558,1
263581,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60761115,60762304,22,1,1189,5176,60766694,60766695,0.417194,1
263582,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60761115,60762304,22,1,1189,5176,60766701,60766702,0.560040,1

In [56]:
Data = Data[(Data["End"] <= Data["exonEnd"])&(Data["Start"] >= Data["exonStart"])]
Data = Data[Data["ExonOrder"]>1]
Data = Data.reset_index(drop = True)

In [57]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,exonStart,exonEnd,ExonOrder,Interval,ExonLength,CumSum,Start,End,Probabilty,Label
0,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,25826003,25826775,2,0,772,1018,25826588,25826589,0.184899,1
1,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,25826003,25826775,2,0,772,1018,25826608,25826609,0.360546,1
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,25093764,25094408,28,1,644,4500,25093812,25093813,0.094080,1
3,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,25093764,25094408,28,1,644,4500,25093918,25093919,0.471134,1
4,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,25093764,25094408,28,1,644,4500,25094083,25094084,0.212850,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12456,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60766333,60766995,19,2,662,3585,60766685,60766686,0.446558,1
12457,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60766333,60766995,19,2,662,3585,60766694,60766695,0.417194,1
12458,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60766333,60766995,19,2,662,3585,60766701,60766702,0.560040,1
12459,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60764031,60764233,20,1,202,3787,60764142,60764143,0.009994,1
12460,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60764031,60764233,20,1,202,3787,60764171,60764172,0.003363,1

In [58]:
Data = Data[(Data["End"] <= Data["cdsEnd"])&(Data["Start"] >= Data["cdsStart"])]
Data = Data.reset_index(drop = True)

In [59]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,exonStart,exonEnd,ExonOrder,Interval,ExonLength,CumSum,Start,End,Probabilty,Label
0,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,25826003,25826775,2,0,772,1018,25826588,25826589,0.184899,1
1,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,25826003,25826775,2,0,772,1018,25826608,25826609,0.360546,1
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,25093764,25094408,28,1,644,4500,25093812,25093813,0.094080,1
3,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,25093764,25094408,28,1,644,4500,25093918,25093919,0.471134,1
4,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25067549,25068356,25093764,25094408,28,1,644,4500,25094083,25094084,0.212850,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11059,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60766333,60766995,19,2,662,3585,60766685,60766686,0.446558,1
11060,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60766333,60766995,19,2,662,3585,60766694,60766695,0.417194,1
11061,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60766333,60766995,19,2,662,3585,60766701,60766702,0.560040,1
11062,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60764031,60764233,20,1,202,3787,60764142,60764143,0.009994,1
11063,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60761115,60762304,60764031,60764233,20,1,202,3787,60764171,60764172,0.003363,1

In [60]:
Data.rename(columns={"Start":"m6AStart","End":"m6AEnd"}, inplace = True)

In [61]:
Data.drop(["LastExonStart","LastExonEnd","ExonOrder","Interval"], axis=1, inplace=True)

In [62]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonStart,exonEnd,ExonLength,CumSum,m6AStart,m6AEnd,Probabilty,Label
0,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25826003,25826775,772,1018,25826588,25826589,0.184899,1
1,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25826003,25826775,772,1018,25826608,25826609,0.360546,1
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25093764,25094408,644,4500,25093812,25093813,0.094080,1
3,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25093764,25094408,644,4500,25093918,25093919,0.471134,1
4,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25093764,25094408,644,4500,25094083,25094084,0.212850,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11059,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60766333,60766995,662,3585,60766685,60766686,0.446558,1
11060,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60766333,60766995,662,3585,60766694,60766695,0.417194,1
11061,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60766333,60766995,662,3585,60766701,60766702,0.560040,1
11062,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60764031,60764233,202,3787,60764142,60764143,0.009994,1
11063,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60764031,60764233,202,3787,60764171,60764172,0.003363,1

In [64]:
Data = Data[((Data["exonEnd"]-Data["m6AEnd"])>250)&((Data["m6AStart"]-Data["exonStart"])>250)]
Data = Data.reset_index(drop = True)

In [65]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonStart,exonEnd,ExonLength,CumSum,m6AStart,m6AEnd,Probabilty,Label
0,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25093764,25094408,644,4500,25094083,25094084,0.212850,1
1,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25093764,25094408,644,4500,25094100,25094101,0.252277,1
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,25093764,25094408,644,4500,25094119,25094120,0.534660,1
3,Gpr45,chr1,+,42952962,43035456,43032198,43033320,43031951,43035456,3505,3776,43032938,43032939,0.394680,1
4,Plcl1,chr1,+,55405920,55754285,55406387,55751463,55695744,55698219,2475,3185,55697698,55697699,0.233789,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5750,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60766333,60766995,662,3585,60766638,60766639,0.411896,1
5751,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60766333,60766995,662,3585,60766679,60766680,0.584926,1
5752,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60766333,60766995,662,3585,60766685,60766686,0.446558,1
5753,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60766333,60766995,662,3585,60766694,60766695,0.417194,1
5754,Eif3a,chr19,-,60761115,60790693,60762080,60790517,60766333,60766995,662,3585,60766701,60766702,0.560040,1

In [66]:
Data = Data[Data["Probabilty"] >= 0.4]
Data = Data.reset_index(drop = True)

In [68]:
Data = Data.sort_values(by=["Probabilty"], axis=0, ascending=False)
Data = Data.reset_index(drop = True)

In [75]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonStart,exonEnd,ExonLength,CumSum,m6AStart,m6AEnd,Probabilty,Label
0,Satb1,chr17,-,51736186,51832672,51739897,51809253,51736186,51740413,4227,6243,51739922,51739923,0.936465,1
1,Setd5,chr6,+,113077364,113153435,113105050,113151470,113150861,113153435,2574,6755,113151460,113151461,0.930645,1
2,Jag1,chr2,-,137081455,137116644,137083023,137116257,137081455,137083481,2026,5612,137083096,137083097,0.930130,1
3,Six4,chr12,-,73099608,73113425,73103441,73113184,73108660,73109349,689,1772,73109072,73109073,0.928997,1
4,Zfpm2,chr15,+,40655041,41104592,40655543,41103576,41101084,41104592,3508,4974,41103517,41103518,0.920117,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2624,Fat1,chr8,+,44950207,45052257,44950213,45051409,45022803,45026871,4068,8890,45025605,45025606,0.400429,1
2625,Pclo,chr5,+,14514917,14863459,14515221,14858886,14674954,14680013,5059,9188,14676794,14676795,0.400379,1
2626,Agtpbp1,chr13,-,59449537,59557289,59450136,59544418,59500013,59500702,689,2091,59500379,59500380,0.400373,1
2627,Zfhx2,chr14,-,55060261,55092324,55062603,55075235,55063804,55067281,3477,7087,55064237,55064238,0.400316,1
2628,Pclo,chr5,+,14514917,14863459,14515221,14858886,14680369,14682387,2018,11206,14681244,14681245,0.400040,1

In [78]:
Data = Data.drop_duplicates(subset=["name"], keep="first")
Data = Data.reset_index(drop = True)

In [79]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonStart,exonEnd,ExonLength,CumSum,m6AStart,m6AEnd,Probabilty,Label
0,Satb1,chr17,-,51736186,51832672,51739897,51809253,51736186,51740413,4227,6243,51739922,51739923,0.936465,1
1,Setd5,chr6,+,113077364,113153435,113105050,113151470,113150861,113153435,2574,6755,113151460,113151461,0.930645,1
2,Jag1,chr2,-,137081455,137116644,137083023,137116257,137081455,137083481,2026,5612,137083096,137083097,0.930130,1
3,Six4,chr12,-,73099608,73113425,73103441,73113184,73108660,73109349,689,1772,73109072,73109073,0.928997,1
4,Zfpm2,chr15,+,40655041,41104592,40655543,41103576,41101084,41104592,3508,4974,41103517,41103518,0.920117,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,Mrpl57,chr14,+,57826238,57828745,57826516,57826825,57826508,57828745,2237,2321,57826802,57826803,0.403253,1
889,Lrrn3,chr12,-,41451672,41485751,41452192,41454316,41451672,41454671,2999,3180,41452631,41452632,0.403062,1
890,Nxph1,chr6,+,8949675,9249030,8950253,9247846,9247084,9249030,1946,2578,9247347,9247348,0.402985,1
891,Golga3,chr5,+,110176700,110226470,110181777,110223079,110187340,110187987,647,1443,110187718,110187719,0.402206,1
892,Nfe2l1,chr11,-,96817413,96829968,96819175,96827707,96827197,96828223,1026,1176,96827489,96827490,0.400468,1

In [80]:
Data.to_csv("LongInternalExon_SNM.csv", index=0)

In [81]:
Bed = Data[["chrom","txStart","txEnd"]]

In [82]:
Bed.to_csv("LongInternalExon_SNM.bed", sep="\t", header=False, index=False)

In [83]:
!bedtools getfasta -bed LongInternalExon_SNM.bed -fi /pod/2/ke-lab/LUOZ/Reference/Fasta/mm10/mm10.fa -fo LongInternalExon_SNM.txt