## Grab sequence

In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("UniqmRNA_GENCODE_VM7com_mm10_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0,ENSMUST00000086465.5,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",0,Adora1,cmpl,cmpl,"2,0,-1,"
1,1,ENSMUST00000140295.6,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",0,Sntg1,cmpl,cmpl,"0,0,0,0,0,0,0,2,0,1,0,0,1,0,0,0,0,-1,-1,-1,-1,"
2,1,ENSMUST00000151309.6,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",0,Adgrb3,cmpl,cmpl,"0,0,0,1,0,0,2,2,0,2,1,0,2,0,2,0,2,1,1,0,0,0,1,..."
3,1,ENSMUST00000027312.10,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",0,Prim2,cmpl,cmpl,"0,0,1,0,0,2,0,0,0,2,0,1,0,-1,"
4,1,ENSMUST00000114313.6,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",0,Cflar,cmpl,cmpl,"-1,0,2,0,1,0,1,0,1,2,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22418,73,ENSMUST00000115964.2,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...",0,Tmlhe,cmpl,cmpl,"-1,0,1,1,2,2,2,0,"
22419,585,ENSMUST00000051100.6,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,",0,Vamp7,cmpl,cmpl,"0,0,1,0,0,2,0,-1,"
22420,585,ENSMUST00000167421.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,",0,CAAA01165726.1,cmpl,incmpl,"0,0,1,"
22421,585,ENSMUST00000076951.3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,",0,Spry3,cmpl,cmpl,"0,-1,"
22422,585,ENSMUST00000178569.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,",0,AC234645.1,cmpl,incmpl,"0,"

In [4]:
Data.drop([0,11,13,14,15], axis=1, inplace=True)

In [5]:
Data

,1,2,3,4,5,6,7,8,9,10,12
0,ENSMUST00000086465.5,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,",Adora1
1,ENSMUST00000140295.6,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555...",Sntg1
2,ENSMUST00000151309.6,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2...",Adgrb3
3,ENSMUST00000027312.10,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3...",Prim2
4,ENSMUST00000114313.6,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5...",Cflar
...,...,...,...,...,...,...,...,...,...,...,...
22418,ENSMUST00000115964.2,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325...",Tmlhe
22419,ENSMUST00000051100.6,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,",Vamp7
22420,ENSMUST00000167421.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,",CAAA01165726.1
22421,ENSMUST00000076951.3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,",Spry3
22422,ENSMUST00000178569.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,",AC234645.1

In [6]:
Data[1] = Data[12]
Data.drop([12], axis=1, inplace=True)

In [7]:
Data

,1,2,3,4,5,6,7,8,9,10
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325..."
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,"

In [8]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]

In [9]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325..."
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,"

### Select coding genes

In [10]:
idx = (Data["cdsStart"] != Data["cdsEnd"])

In [11]:
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]]

In [12]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22418,Tmlhe,chrX_GL456233_random,+,159646,334183,216736,333326,8,"159646,216735,258246,272713,285395,326113,3324...","159773,216917,258423,272993,285515,326350,3325..."
22419,Vamp7,chrX_GL456233_random,-,10737,39148,12475,32575,8,"10737,14074,21627,24871,28975,30587,32429,39024,","12544,14167,21695,24962,29113,30645,32584,39148,"
22420,CAAA01165726.1,chrX_GL456233_random,+,25189,25788,25189,25788,3,"25189,25540,25762,","25201,25568,25788,"
22421,Spry3,chrX_GL456233_random,-,101351,106395,104589,105456,2,"101351,106267,","105572,106395,"
22422,AC234645.1,chrY_JH584303_random,+,81606,82689,81606,82689,1,"81606,","82689,"

### Keep standard chromosomes

In [13]:
Data = Data[:22357]

In [14]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,3,"134199224,134234014,134235227,","134203590,134234412,134235431,"
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,21,"8361474,8414202,8445026,8447979,8463393,846543...","8363633,8414313,8445119,8448132,8463465,846555..."
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,31,"25067549,25074684,25084243,25093764,25098875,2...","25068356,25074789,25084279,25094408,25098915,2..."
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,14,"33453809,33464052,33480457,33484681,33512015,3...","33454304,33464121,33480540,33484808,33512201,3..."
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,10,"58711559,58726305,58729055,58731151,58732252,5...","58711592,58726732,58729161,58731287,58732326,5..."
...,...,...,...,...,...,...,...,...,...,...
22352,Prdx3,chr19,-,60864050,60874556,60864665,60874467,7,"60864050,60865165,60867515,60870003,60871419,6...","60864719,60865331,60867619,60870139,60871561,6..."
22353,Gm7102,chr19,-,61174685,61176309,61175458,61175995,1,"61174685,","61176309,"
22354,Gm6020,chr19,+,61183889,61183955,61183889,61183955,1,"61183889,","61183955,"
22355,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,12,"61224401,61225132,61225323,61225522,61225791,6...","61225033,61225214,61225420,61225652,61225821,6..."
22356,Gm21060,chr19,-,61296901,61297069,61296901,61297069,1,"61296901,","61297069,"

In [15]:
Data.drop(["exonCount", "exonStarts", "exonEnds"], axis=1, inplace=True)

/home/luoz/miniconda3/envs/m6AAI/lib/python3.8/site-packages/pandas/core/frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [16]:
Data

          name  chrom strand    txStart      txEnd   cdsStart     cdsEnd
0       Adora1   chr1      -  134199224  134235431  134202950  134234355
1        Sntg1   chr1      -    8361474    9299238    8363474    8803943
2       Adgrb3   chr1      -   25067549   25829707   25068167   25826760
3        Prim2   chr1      -   33453809   33669795   33454085   33669011
4        Cflar   chr1      +   58711559   58758884   58726436   58753922
...        ...    ...    ...        ...        ...        ...        ...
22352    Prdx3  chr19      -   60864050   60874556   60864665   60874467
22353   Gm7102  chr19      -   61174685   61176309   61175458   61175995
22354   Gm6020  chr19      +   61183889   61183955   61183889   61183955
22355   Csf2ra  chr19      -   61224401   61228418   61225003   61227365
22356  Gm21060  chr19      -   61296901   61297069   61296901   61297069

[22357 rows x 7 columns]

In [17]:
StopCodon = pd.read_csv("StopCodon.csv")

In [18]:
StopCodon = StopCodon[["name","chrom","strand","StopCodon"]]

In [19]:
Data = pd.merge(Data, StopCodon, how="inner", on=["name","chrom","strand"])

In [20]:
Data = Data.reset_index(drop = True)

In [21]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,StopCodon
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,TAG
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,TGA
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,TAA
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,TAG
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,TGA
...,...,...,...,...,...,...,...,...
21626,Eif3a,chr19,-,60761115,60790693,60762080,60790517,TAA
21627,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,TAG
21628,Prdx3,chr19,-,60864050,60874556,60864665,60874467,TAG
21629,Gm7102,chr19,-,61174685,61176309,61175458,61175995,TAA
21630,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,TAG

In [22]:
Group = pd.read_csv("Group.csv")
Group = Group[["name","chrom","strand","Group"]]

In [23]:
Group

          name chrom strand  Group
0         Xkr4  chr1      -      2
1          Rp1  chr1      -      2
2        Sox17  chr1      -      2
3       Mrpl15  chr1      -      2
4       Lypla1  chr1      +      2
...        ...   ...    ...    ...
22352  Gm21996  chrY      -      2
22353  Gm20837  chrY      +      2
22354  Gm21860  chrY      -      1
22355    Erdr1  chrY      +      2
22356  Gm21748  chrY      -      1

[22357 rows x 4 columns]

In [24]:
Data = pd.merge(Data, Group, how="inner", on=["name","chrom","strand"])
Data = Data.reset_index(drop = True)

In [25]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,StopCodon,Group
0,Adora1,chr1,-,134199224,134235431,134202950,134234355,TAG,2
1,Sntg1,chr1,-,8361474,9299238,8363474,8803943,TGA,2
2,Adgrb3,chr1,-,25067549,25829707,25068167,25826760,TAA,2
3,Prim2,chr1,-,33453809,33669795,33454085,33669011,TAG,2
4,Cflar,chr1,+,58711559,58758884,58726436,58753922,TGA,2
...,...,...,...,...,...,...,...,...,...
21626,Eif3a,chr19,-,60761115,60790693,60762080,60790517,TAA,2
21627,Sfxn4,chr19,-,60838747,60861479,60838972,60861337,TAG,2
21628,Prdx3,chr19,-,60864050,60874556,60864665,60874467,TAG,2
21629,Gm7102,chr19,-,61174685,61176309,61175458,61175995,TAA,1
21630,Csf2ra,chr19,-,61224401,61228418,61225003,61227365,TAG,2

In [26]:
Data.to_csv("UniqmRNA_GENCODE_VM7com_mm10_RefSeqpriority_Stop_Codon.csv", index=0)

### Create Bed

In [27]:
Bed = Data.iloc[:, [1, 3, 4]]

In [28]:
Bed.to_csv("StopCodon.bed", sep="\t", header=False, index=False)

### Get sequence

In [29]:
!bedtools getfasta -bed StopCodon.bed -fi /pod/2/ke-lab/LUOZ/Reference/Fasta/mm10/mm10.fa -fo StopCodon.txt