## Grab sequence

In [1]:
import numpy as np
import pandas as pd

In [2]:
Data = pd.read_csv("Annotation/UniqmRNA_GENCODE_V19com_hg19_RefSeqpriority.txt", sep="\t", header=None)

In [3]:
Data.drop([0,11,13,14,15], axis=1, inplace=True)

In [4]:
Data

,1,2,3,4,5,6,7,8,9,10,12
0,ENST00000371037.4,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",SGIP1
1,ENST00000289877.8,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",SLC45A1
2,ENST00000337132.5,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",NECAP2
3,ENST00000374379.4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",CLIC4
4,ENST00000294517.6,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",ADC
...,...,...,...,...,...,...,...,...,...,...,...
20680,ENST00000400678.3,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,...",AC002321.2
20681,ENST00000400676.3,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,",AC002321.1
20682,ENST00000400710.2,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,",AC145205.1
20683,ENST00000391571.2,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,",AC011841.1
20684,ENST00000400848.2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398...",KIR2DL2

In [5]:
Data[1] = Data[12]

In [6]:
Data.drop([12], axis=1, inplace=True)

In [7]:
Data

,1,2,3,4,5,6,7,8,9,10
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,..."
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398..."

In [8]:
Data.columns = ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]

In [9]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,..."
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398..."

### Select coding genes

In [10]:
idx = (Data["cdsStart"] != Data["cdsEnd"])

In [11]:
Data = Data.loc[idx, ["name", "chrom", "strand", "txStart", "txEnd", "cdsStart", "cdsEnd", "exonCount", "exonStarts", "exonEnds"]]

In [12]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
20680,AC002321.2,chr9_gl000201_random,+,3904,22432,9448,22256,9,"3904,9405,14327,15664,15994,16799,17722,21234,...","4138,9503,14454,15878,16150,16970,17899,21379,..."
20681,AC002321.1,chr9_gl000201_random,-,26347,27637,26412,27614,2,"26347,27521,","26820,27637,"
20682,AC145205.1,chr17_gl000204_random,-,44536,47211,45102,45672,1,"44536,","47211,"
20683,AC011841.1,chr17_gl000205_random,+,117168,119085,117369,117819,1,"117168,","119085,"
20684,KIR2DL2,chr19_gl000209_random,+,70096,84658,70107,83979,9,"70096,71140,71920,73693,75573,79037,83368,8393...","70141,71176,72205,73993,75867,79088,83474,8398..."

### Keep standard chromosomes

In [13]:
Data = Data[:20536]

### exonCount > 1

In [14]:
Data = Data[Data.exonCount > 1]

In [15]:
Data = Data.reset_index(drop = True)

In [16]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6..."
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805..."
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1..."
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2..."
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3..."
...,...,...,...,...,...,...,...,...,...,...
18853,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5..."
18854,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5..."
18855,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5..."
18856,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,"
18857,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5..."

In [17]:
Data["LastExonStart"] = 0
Data["LastExonEnd"] = 0

In [18]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",0,0
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",0,0
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",0,0
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",0,0
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
18853,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",0,0
18854,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",0,0
18855,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",0,0
18856,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",0,0
18857,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",0,0

In [19]:
for i in range(len(Data)):
    if Data.loc[i, "strand"] == "+":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[-2]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[-2]
    elif Data.loc[i, "strand"] == "-":
        Data.loc[i,("LastExonStart")] = Data.loc[i, "exonStarts"].split(",")[0]
        Data.loc[i,("LastExonEnd")] = Data.loc[i, "exonEnds"].split(",")[0]

In [20]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,exonCount,exonStarts,exonEnds,LastExonStart,LastExonEnd
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,25,"66999964,67091529,67098752,67101626,67105459,6...","67000051,67091593,67098777,67101698,67105516,6...",67208755,67213982
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8,"8384389,8385357,8385877,8390268,8395496,839787...","8384786,8385450,8386102,8390996,8395650,839805...",8403806,8404227
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,8,"16767166,16770126,16774364,16774554,16775587,1...","16767348,16770227,16774469,16774636,16775696,1...",16785336,16786573
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,6,"25071847,25124232,25140584,25153500,25166350,2...","25072116,25124342,25140710,25153607,25166532,2...",25167263,25170815
4,ADC,chr1,+,33546713,33585995,33547850,33585783,12,"33546713,33546988,33547201,33547778,33549554,3...","33546895,33547109,33547413,33547955,33549728,3...",33585644,33585995
...,...,...,...,...,...,...,...,...,...,...,...,...
18853,CHKB,chr22,-,51017377,51021428,51017609,51021210,11,"51017377,51017854,51018155,51018402,51018618,5...","51017684,51017936,51018259,51018511,51018700,5...",51017377,51017684
18854,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,10,"51041561,51042054,51042269,51043795,51043989,5...","51041927,51042148,51043492,51043871,51044162,5...",51049134,51052409
18855,ARSA,chr22,-,51063449,51066607,51063572,51066201,9,"51063449,51064006,51064363,51064581,51065018,5...","51063892,51064109,51064491,51064706,51065188,5...",51063449,51063892
18856,ACR,chr22,+,51176623,51183762,51176663,51183635,5,"51176623,51177698,51178121,51182488,51183080,","51176740,51177902,51178405,51182634,51183762,",51183080,51183762
18857,RABL2B,chr22,-,51205933,51222091,51207203,51220722,10,"51205933,51207468,51207882,51208332,51214199,5...","51207302,51207552,51207980,51208444,51214279,5...",51205933,51207302

In [21]:
Data.drop(["exonCount", "exonStarts", "exonEnds"], axis=1, inplace=True)

In [22]:
Data

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,SGIP1,chr1,+,66999964,67213982,67000041,67208778,67208755,67213982
1,SLC45A1,chr1,+,8384389,8404227,8384389,8404073,8403806,8404227
2,NECAP2,chr1,+,16767166,16786573,16767256,16785385,16785336,16786573
3,CLIC4,chr1,+,25071847,25170815,25072044,25167428,25167263,25170815
4,ADC,chr1,+,33546713,33585995,33547850,33585783,33585644,33585995
...,...,...,...,...,...,...,...,...,...
18853,CHKB,chr22,-,51017377,51021428,51017609,51021210,51017377,51017684
18854,MAPK8IP2,chr22,+,51041561,51052409,51042525,51049207,51049134,51052409
18855,ARSA,chr22,-,51063449,51066607,51063572,51066201,51063449,51063892
18856,ACR,chr22,+,51176623,51183762,51176663,51183635,51183080,51183762
18857,RABL2B,chr22,-,51205933,51222091,51207203,51220722,51205933,51207302

### m6A sites

In [23]:
Site = pd.read_csv("Pathogenic_SNVs.csv")

In [24]:
Site

,chrom,GENE,strand,SNPID,POS,Start,End,ProbREF,Label,ProbALT,REF,ALT,Distance,Dvalue,ClinicalSignificance
0,chr1,ACADM,+,rs1553127378,76228376,76228405,76228406,0.327067,1,1.044899e-01,G,C,-30,-0.222577,Likely pathogenic
1,chr1,DARS2,+,rs121918205,173826781,173826779,173826780,0.291580,1,1.474168e-04,C,G,1,-0.291433,Pathogenic
2,chr1,DARS2,+,rs121918213,173826782,173826779,173826780,0.291580,1,9.019236e-02,T,A,2,-0.201388,Pathogenic
3,chr1,FMO3,+,rs72549334,171086457,171086454,171086455,0.063767,0,4.453120e-01,C,T,2,0.381544,Likely pathogenic
4,chr1,GJB3,+,rs121908851,35250860,35250859,35250860,0.515990,0,5.367662e-07,A,G,0,-0.515989,Pathogenic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,chrX,NDP,-,rs104894883,43809145,43809148,43809149,0.086369,0,2.870518e-01,C,T,4,0.200683,Pathogenic
158,chrX,NR0B1,-,rs1555972641,30322769,30322770,30322771,0.472005,1,3.385348e-02,T,C,2,-0.438152,Pathogenic
159,chrX,PIGA,-,rs387906726,15339849,15339846,15339847,0.165558,0,3.841324e-01,C,T,-2,0.218574,Pathogenic
160,chrX,RAB39B,-,rs587777874,154490227,154490227,154490228,0.522167,1,5.532734e-05,C,A,1,-0.522112,Pathogenic
161,chrX,TIMM8A,-,rs1054894,100601543,100601540,100601541,0.121580,0,5.948300e-01,C,T,-2,0.473250,Pathogenic

In [27]:
Site = Site[["chrom","GENE","strand","Start","End","ProbREF"]]

In [28]:
Site.rename(columns={"GENE":"name","Start":"m6AStart","End":"m6AEnd"}, inplace = True)

/home/luoz/miniconda3/envs/m6AAI/lib/python3.8/site-packages/pandas/core/frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [29]:
Overlap = pd.merge(Data, Site, how="inner", on=["chrom", "name", "strand"])

In [30]:
Overlap

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,m6AStart,m6AEnd,ProbREF
0,POGZ,chr1,-,151375199,151431941,151377277,151414680,151375199,151378940,151377664,151377665,0.286165
1,DARS2,chr1,+,173793640,173827684,173794367,173826843,173826655,173827684,173826779,173826780,0.291580
2,DARS2,chr1,+,173793640,173827684,173794367,173826843,173826655,173827684,173826779,173826780,0.291580
3,NMNAT1,chr1,+,10003485,10045556,10032131,10042759,10042358,10045556,10042736,10042737,0.100627
4,UBIAD1,chr1,+,11333262,11348491,11333588,11346188,11345700,11348491,11345877,11345878,0.222860
...,...,...,...,...,...,...,...,...,...,...,...,...
157,KCNB1,chr20,-,47980413,48099184,47989519,48099017,47980413,47991529,47990970,47990971,0.194961
158,EP300,chr22,+,41487789,41576081,41489008,41574960,41572776,41576081,41574962,41574963,0.460595
159,SOX10,chr22,-,38368306,38380544,38369501,38379791,38368306,38370205,38370072,38370073,0.559738
160,SOX10,chr22,-,38368306,38380544,38369501,38379791,38368306,38370205,38370087,38370088,0.352955
161,SOX10,chr22,-,38368306,38380544,38369501,38379791,38368306,38370205,38370078,38370079,0.320812

In [31]:
Overlap.drop_duplicates(subset=["chrom","name","strand","m6AStart","m6AEnd"], keep="first", inplace=True)
Overlap = Overlap.reset_index(drop = True)

In [32]:
Overlap

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,m6AStart,m6AEnd,ProbREF
0,POGZ,chr1,-,151375199,151431941,151377277,151414680,151375199,151378940,151377664,151377665,0.286165
1,DARS2,chr1,+,173793640,173827684,173794367,173826843,173826655,173827684,173826779,173826780,0.291580
2,NMNAT1,chr1,+,10003485,10045556,10032131,10042759,10042358,10045556,10042736,10042737,0.100627
3,UBIAD1,chr1,+,11333262,11348491,11333588,11346188,11345700,11348491,11345877,11345878,0.222860
4,GJB3,chr1,+,35246789,35251965,35250363,35251176,35250338,35251965,35250859,35250860,0.515990
...,...,...,...,...,...,...,...,...,...,...,...,...
152,KCNB1,chr20,-,47980413,48099184,47989519,48099017,47980413,47991529,47990970,47990971,0.194961
153,EP300,chr22,+,41487789,41576081,41489008,41574960,41572776,41576081,41574962,41574963,0.460595
154,SOX10,chr22,-,38368306,38380544,38369501,38379791,38368306,38370205,38370072,38370073,0.559738
155,SOX10,chr22,-,38368306,38380544,38369501,38379791,38368306,38370205,38370087,38370088,0.352955
156,SOX10,chr22,-,38368306,38380544,38369501,38379791,38368306,38370205,38370078,38370079,0.320812

In [33]:
Overlap["LastExonStart"] = Overlap["LastExonStart"].astype(int)
Overlap["LastExonEnd"] = Overlap["LastExonEnd"].astype(int)

In [34]:
Overlap

,name,chrom,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,m6AStart,m6AEnd,ProbREF
0,POGZ,chr1,-,151375199,151431941,151377277,151414680,151375199,151378940,151377664,151377665,0.286165
1,DARS2,chr1,+,173793640,173827684,173794367,173826843,173826655,173827684,173826779,173826780,0.291580
2,NMNAT1,chr1,+,10003485,10045556,10032131,10042759,10042358,10045556,10042736,10042737,0.100627
3,UBIAD1,chr1,+,11333262,11348491,11333588,11346188,11345700,11348491,11345877,11345878,0.222860
4,GJB3,chr1,+,35246789,35251965,35250363,35251176,35250338,35251965,35250859,35250860,0.515990
...,...,...,...,...,...,...,...,...,...,...,...,...
152,KCNB1,chr20,-,47980413,48099184,47989519,48099017,47980413,47991529,47990970,47990971,0.194961
153,EP300,chr22,+,41487789,41576081,41489008,41574960,41572776,41576081,41574962,41574963,0.460595
154,SOX10,chr22,-,38368306,38380544,38369501,38379791,38368306,38370205,38370072,38370073,0.559738
155,SOX10,chr22,-,38368306,38380544,38369501,38379791,38368306,38370205,38370087,38370088,0.352955
156,SOX10,chr22,-,38368306,38380544,38369501,38379791,38368306,38370205,38370078,38370079,0.320812

In [35]:
Data = Overlap

In [36]:
Data.to_csv("ClinVar_Heatmap.csv", index=0)

### Create Bed

In [37]:
Bed = Data.iloc[:, [1, 3, 4]]

In [38]:
Bed

     chrom    txStart      txEnd
0     chr1  151375199  151431941
1     chr1  173793640  173827684
2     chr1   10003485   10045556
3     chr1   11333262   11348491
4     chr1   35246789   35251965
..     ...        ...        ...
152  chr20   47980413   48099184
153  chr22   41487789   41576081
154  chr22   38368306   38380544
155  chr22   38368306   38380544
156  chr22   38368306   38380544

[157 rows x 3 columns]

In [39]:
Bed.to_csv("ClinVar_Heatmap.bed", sep="\t", header=False, index=False)

In [40]:
!bedtools getfasta -bed ClinVar_Heatmap.bed -fi /pod/2/ke-lab/LUOZ/Reference/Fasta/hg19/hg19.fa -fo ClinVar_Heatmap.txt