### Download ClinVar data

In [1]:
!wget ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/variant_summary.txt.gz

--2021-02-01 02:05:33--  ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/tab_delimited/variant_summary.txt.gz
           => ‘variant_summary.txt.gz’
Resolving ftp.ncbi.nlm.nih.gov (ftp.ncbi.nlm.nih.gov)... 165.112.9.229, 2607:f220:41e:250::7, 2607:f220:41e:250::12, ...
Connecting to ftp.ncbi.nlm.nih.gov (ftp.ncbi.nlm.nih.gov)|165.112.9.229|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /pub/clinvar/tab_delimited ... done.
==> SIZE variant_summary.txt.gz ... 67821900
==> PASV ... done.    ==> RETR variant_summary.txt.gz ... done.
Length: 67821900 (65M) (unauthoritative)

100%[======================================>] 67,821,900  68.5MB/s   in 0.9s

2021-02-01 02:05:35 (68.5 MB/s) - ‘variant_summary.txt.gz’ saved [67821900]

In [2]:
!gunzip variant_summary.txt.gz

## ClinVar & m6AVar

### Read data

In [2]:
import numpy as np
import pandas as pd

In [3]:
Data = pd.read_table("variant_summary.txt", low_memory=False)

In [4]:
Data

,#AlleleID,Type,Name,GeneID,GeneSymbol,HGNC_ID,ClinicalSignificance,ClinSigSimple,LastEvaluated,RS# (dbSNP),...,ReviewStatus,NumberSubmitters,Guidelines,TestedInGTR,OtherIDs,SubmitterCategories,VariationID,PositionVCF,ReferenceAlleleVCF,AlternateAlleleVCF
0,15041,Indel,NM_014855.3(AP5Z1):c.80_83delinsTGCTGTAAACTGTA...,9907,AP5Z1,HGNC:22197,Pathogenic,1,"Jun 29, 2010",397704705,...,no assertion criteria provided,1,-,N,"ClinGen:CA215070,OMIM:613653.0001",1,2,4820844,GGAT,TGCTGTAAACTGTAACTGTAAA
1,15041,Indel,NM_014855.3(AP5Z1):c.80_83delinsTGCTGTAAACTGTA...,9907,AP5Z1,HGNC:22197,Pathogenic,1,"Jun 29, 2010",397704705,...,no assertion criteria provided,1,-,N,"ClinGen:CA215070,OMIM:613653.0001",1,2,4781213,GGAT,TGCTGTAAACTGTAACTGTAAA
2,15042,Deletion,NM_014855.3(AP5Z1):c.1413_1426del (p.Leu473fs),9907,AP5Z1,HGNC:22197,Pathogenic,1,"Jun 29, 2010",397704709,...,no assertion criteria provided,1,-,N,"ClinGen:CA215072,OMIM:613653.0002",1,3,4827360,GCTGCTGGACCTGCC,G
3,15042,Deletion,NM_014855.3(AP5Z1):c.1413_1426del (p.Leu473fs),9907,AP5Z1,HGNC:22197,Pathogenic,1,"Jun 29, 2010",397704709,...,no assertion criteria provided,1,-,N,"ClinGen:CA215072,OMIM:613653.0002",1,3,4787729,GCTGCTGGACCTGCC,G
4,15043,single nucleotide variant,NM_014630.3(ZNF592):c.3136G>A (p.Gly1046Arg),9640,ZNF592,HGNC:28986,Uncertain significance,0,"Jun 29, 2015",150829393,...,no assertion criteria provided,1,-,N,"ClinGen:CA210674,UniProtKB:Q92610#VAR_064583,O...",1,4,85342440,G,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664141,980858,single nucleotide variant,NM_003062.4(SLIT3):c.1528C>T (p.Arg510Cys),6586,SLIT3,HGNC:11087,Likely pathogenic,1,-,926590189,...,no assertion criteria provided,1,-,N,-,2,992921,168189626,G,A
1664142,980858,single nucleotide variant,NM_003062.4(SLIT3):c.1528C>T (p.Arg510Cys),6586,SLIT3,HGNC:11087,Likely pathogenic,1,-,926590189,...,no assertion criteria provided,1,-,N,-,2,992921,168762621,G,A
1664143,980879,single nucleotide variant,NM_017547.4(FOXRED1):c.352C>T (p.Gln118Ter),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Dec 01, 2020",-1,...,"criteria provided, single submitter",1,-,N,-,2,992942,126142909,C,T
1664144,980879,single nucleotide variant,NM_017547.4(FOXRED1):c.352C>T (p.Gln118Ter),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Dec 01, 2020",-1,...,"criteria provided, single submitter",1,-,N,-,2,992942,126273014,C,T
1664145,980886,single nucleotide variant,NM_000964.4:c.826C>T,5914,RARA,HGNC:9864,Uncertain significance,0,"Jan 14, 2021",-1,...,no assertion criteria provided,1,-,N,OMIM:180240.0001,1,992949,-1,na,na

In [7]:
Data = Data[Data["Type"]=="single nucleotide variant"]
Data = Data.reset_index(drop = True)

In [8]:
Data

,#AlleleID,Type,Name,GeneID,GeneSymbol,HGNC_ID,ClinicalSignificance,ClinSigSimple,LastEvaluated,RS# (dbSNP),...,ReviewStatus,NumberSubmitters,Guidelines,TestedInGTR,OtherIDs,SubmitterCategories,VariationID,PositionVCF,ReferenceAlleleVCF,AlternateAlleleVCF
0,15043,single nucleotide variant,NM_014630.3(ZNF592):c.3136G>A (p.Gly1046Arg),9640,ZNF592,HGNC:28986,Uncertain significance,0,"Jun 29, 2015",150829393,...,no assertion criteria provided,1,-,N,"ClinGen:CA210674,UniProtKB:Q92610#VAR_064583,O...",1,4,85342440,G,A
1,15043,single nucleotide variant,NM_014630.3(ZNF592):c.3136G>A (p.Gly1046Arg),9640,ZNF592,HGNC:28986,Uncertain significance,0,"Jun 29, 2015",150829393,...,no assertion criteria provided,1,-,N,"ClinGen:CA210674,UniProtKB:Q92610#VAR_064583,O...",1,4,84799209,G,A
2,15044,single nucleotide variant,NM_017547.4(FOXRED1):c.694C>T (p.Gln232Ter),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Dec 30, 2019",267606829,...,"criteria provided, multiple submitters, no con...",3,-,N,"ClinGen:CA113792,OMIM:613622.0001",3,5,126145284,C,T
3,15044,single nucleotide variant,NM_017547.4(FOXRED1):c.694C>T (p.Gln232Ter),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Dec 30, 2019",267606829,...,"criteria provided, multiple submitters, no con...",3,-,N,"ClinGen:CA113792,OMIM:613622.0001",3,5,126275389,C,T
4,15045,single nucleotide variant,NM_017547.4(FOXRED1):c.1289A>G (p.Asn430Ser),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Oct 01, 2010",267606830,...,no assertion criteria provided,1,-,N,"ClinGen:CA113794,UniProtKB:Q96CU9#VAR_064571,O...",1,6,126147412,A,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1410014,980858,single nucleotide variant,NM_003062.4(SLIT3):c.1528C>T (p.Arg510Cys),6586,SLIT3,HGNC:11087,Likely pathogenic,1,-,926590189,...,no assertion criteria provided,1,-,N,-,2,992921,168189626,G,A
1410015,980858,single nucleotide variant,NM_003062.4(SLIT3):c.1528C>T (p.Arg510Cys),6586,SLIT3,HGNC:11087,Likely pathogenic,1,-,926590189,...,no assertion criteria provided,1,-,N,-,2,992921,168762621,G,A
1410016,980879,single nucleotide variant,NM_017547.4(FOXRED1):c.352C>T (p.Gln118Ter),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Dec 01, 2020",-1,...,"criteria provided, single submitter",1,-,N,-,2,992942,126142909,C,T
1410017,980879,single nucleotide variant,NM_017547.4(FOXRED1):c.352C>T (p.Gln118Ter),55572,FOXRED1,HGNC:26927,Pathogenic,1,"Dec 01, 2020",-1,...,"criteria provided, single submitter",1,-,N,-,2,992942,126273014,C,T
1410018,980886,single nucleotide variant,NM_000964.4:c.826C>T,5914,RARA,HGNC:9864,Uncertain significance,0,"Jan 14, 2021",-1,...,no assertion criteria provided,1,-,N,OMIM:180240.0001,1,992949,-1,na,na

In [9]:
Data = Data[["RS# (dbSNP)","Chromosome","GeneSymbol"]]

In [12]:
Data.columns = ["SNPID","chrom","GENE"]

In [13]:
Data

             SNPID chrom     GENE
0        150829393    15   ZNF592
1        150829393    15   ZNF592
2        267606829    11  FOXRED1
3        267606829    11  FOXRED1
4        267606830    11  FOXRED1
...            ...   ...      ...
1410014  926590189     5    SLIT3
1410015  926590189     5    SLIT3
1410016         -1    11  FOXRED1
1410017         -1    11  FOXRED1
1410018         -1    na     RARA

[1410019 rows x 3 columns]

In [14]:
Data.drop_duplicates(["SNPID","chrom","GENE"], inplace=True)
Data = Data.reset_index(drop = True)

In [15]:
Data

            SNPID chrom     GENE
0       150829393    15   ZNF592
1       267606829    11  FOXRED1
2       267606830    11  FOXRED1
3       200401432    14    NUBPL
4         1800562     6      HFE
...           ...   ...      ...
538507         -1     X     RLIM
538508         -1     1     MSH4
538509         -1     2  HEATR5B
538510  926590189     5    SLIT3
538511         -1    na     RARA

[538512 rows x 3 columns]

In [16]:
Data["SNPID"] = Data["SNPID"].astype(str)
Data["chrom"] = Data["chrom"].astype(str)

In [17]:
Data["SNPID"] = "rs" + Data["SNPID"]
Data["chrom"] = "chr" + Data["chrom"]

In [18]:
Data

              SNPID  chrom     GENE
0       rs150829393  chr15   ZNF592
1       rs267606829  chr11  FOXRED1
2       rs267606830  chr11  FOXRED1
3       rs200401432  chr14    NUBPL
4         rs1800562   chr6      HFE
...             ...    ...      ...
538507         rs-1   chrX     RLIM
538508         rs-1   chr1     MSH4
538509         rs-1   chr2  HEATR5B
538510  rs926590189   chr5    SLIT3
538511         rs-1  chrna     RARA

[538512 rows x 3 columns]

In [19]:
m6AVar = pd.read_csv("/pod/2/ke-lab/LUOZ/m6AAI/m6AVarProbChange_Total.csv")

In [20]:
m6AVar

,chrom,Start,End,GENE,ProbREF,strand,Label,SNPID,ProbALT
0,chr1,135158,135159,AL627309.1,0.243547,-,0,rs866380716,0.120546
1,chr1,135246,135247,AL627309.1,0.177959,-,0,rs866380716,0.181269
2,chr1,135273,135274,AL627309.1,0.237429,-,0,rs866380716,0.238324
3,chr1,135381,135382,AL627309.1,0.012053,-,0,rs866380716,0.012367
4,chr1,135401,135402,AL627309.1,0.002849,-,0,rs866380716,0.002875
...,...,...,...,...,...,...,...,...,...
6684418,chrY,21868123,21868124,KDM5D,0.003955,-,0,rs763818200,0.003901
6684419,chrY,21868142,21868143,KDM5D,0.014665,-,0,rs763818200,0.013451
6684420,chrY,21868174,21868175,KDM5D,0.018761,-,0,rs763818200,0.017747
6684421,chrY,21868200,21868201,KDM5D,0.083937,-,0,rs763818200,0.084442
6684422,chrY,21868216,21868217,KDM5D,0.071995,-,0,rs763818200,0.070718

In [21]:
Overlap = pd.merge(m6AVar, Data, how="inner", on=["SNPID","chrom","GENE"])

In [22]:
Overlap

,chrom,Start,End,GENE,ProbREF,strand,Label,SNPID,ProbALT
0,chr1,879356,879357,SAMD11,0.003763,+,0,rs113383096,0.004003
1,chr1,879379,879380,SAMD11,0.071936,+,0,rs113383096,0.069451
2,chr1,879413,879414,SAMD11,0.003702,+,0,rs113383096,0.002672
3,chr1,879458,879459,SAMD11,0.250342,+,1,rs113383096,0.031796
4,chr1,879482,879483,SAMD11,0.318616,+,0,rs113383096,0.008374
...,...,...,...,...,...,...,...,...,...
165526,chrX,154490352,154490353,RAB39B,0.245699,-,0,rs587777874,0.248142
165527,chrX,154490410,154490411,RAB39B,0.044165,-,0,rs587777874,0.044773
165528,chrX,154490451,154490452,RAB39B,0.005441,-,0,rs587777874,0.005513
165529,chrX,154490460,154490461,RAB39B,0.068286,-,0,rs587777874,0.069767
165530,chrX,154490487,154490488,RAB39B,0.020305,-,0,rs587777874,0.019964

In [23]:
Overlap.drop_duplicates(["SNPID","chrom","Start","End"], inplace=True)

In [24]:
Overlap

,chrom,Start,End,GENE,ProbREF,strand,Label,SNPID,ProbALT
0,chr1,879356,879357,SAMD11,0.003763,+,0,rs113383096,0.004003
1,chr1,879379,879380,SAMD11,0.071936,+,0,rs113383096,0.069451
2,chr1,879413,879414,SAMD11,0.003702,+,0,rs113383096,0.002672
3,chr1,879458,879459,SAMD11,0.250342,+,1,rs113383096,0.031796
4,chr1,879482,879483,SAMD11,0.318616,+,0,rs113383096,0.008374
...,...,...,...,...,...,...,...,...,...
165526,chrX,154490352,154490353,RAB39B,0.245699,-,0,rs587777874,0.248142
165527,chrX,154490410,154490411,RAB39B,0.044165,-,0,rs587777874,0.044773
165528,chrX,154490451,154490452,RAB39B,0.005441,-,0,rs587777874,0.005513
165529,chrX,154490460,154490461,RAB39B,0.068286,-,0,rs587777874,0.069767
165530,chrX,154490487,154490488,RAB39B,0.020305,-,0,rs587777874,0.019964

In [25]:
Overlap.to_csv("ClinVar_Prob.csv",index=0)

## ClinVar

In [98]:
Data = pd.read_table("variant_summary.txt", low_memory=False)

In [99]:
Data.columns

Index(['#AlleleID', 'Type', 'Name', 'GeneID', 'GeneSymbol', 'HGNC_ID',
       'ClinicalSignificance', 'ClinSigSimple', 'LastEvaluated', 'RS# (dbSNP)',
       'nsv/esv (dbVar)', 'RCVaccession', 'PhenotypeIDS', 'PhenotypeList',
       'Origin', 'OriginSimple', 'Assembly', 'ChromosomeAccession',
       'Chromosome', 'Start', 'Stop', 'ReferenceAllele', 'AlternateAllele',
       'Cytogenetic', 'ReviewStatus', 'NumberSubmitters', 'Guidelines',
       'TestedInGTR', 'OtherIDs', 'SubmitterCategories', 'VariationID',
       'PositionVCF', 'ReferenceAlleleVCF', 'AlternateAlleleVCF'],
      dtype='object')

In [100]:
Data = Data[Data["Type"]=="single nucleotide variant"]
Data = Data.reset_index(drop = True)

In [101]:
Data = Data[["Chromosome","RS# (dbSNP)","Start","Stop","GeneSymbol","PositionVCF","ReferenceAlleleVCF","AlternateAlleleVCF","Assembly"]]

In [102]:
Data

,Chromosome,RS# (dbSNP),Start,Stop,GeneSymbol,PositionVCF,ReferenceAlleleVCF,AlternateAlleleVCF,Assembly
0,15,150829393,85342440,85342440,ZNF592,85342440,G,A,GRCh37
1,15,150829393,84799209,84799209,ZNF592,84799209,G,A,GRCh38
2,11,267606829,126145284,126145284,FOXRED1,126145284,C,T,GRCh37
3,11,267606829,126275389,126275389,FOXRED1,126275389,C,T,GRCh38
4,11,267606830,126147412,126147412,FOXRED1,126147412,A,G,GRCh37
...,...,...,...,...,...,...,...,...,...
1410014,5,926590189,168189626,168189626,SLIT3,168189626,G,A,GRCh37
1410015,5,926590189,168762621,168762621,SLIT3,168762621,G,A,GRCh38
1410016,11,-1,126142909,126142909,FOXRED1,126142909,C,T,GRCh37
1410017,11,-1,126273014,126273014,FOXRED1,126273014,C,T,GRCh38
1410018,na,-1,-1,-1,RARA,-1,na,na,na

In [103]:
Data = Data[Data["Assembly"] == "GRCh37"]
Data = Data.reset_index(drop = True)

In [104]:
Data

,Chromosome,RS# (dbSNP),Start,Stop,GeneSymbol,PositionVCF,ReferenceAlleleVCF,AlternateAlleleVCF,Assembly
0,15,150829393,85342440,85342440,ZNF592,85342440,G,A,GRCh37
1,11,267606829,126145284,126145284,FOXRED1,126145284,C,T,GRCh37
2,11,267606830,126147412,126147412,FOXRED1,126147412,A,G,GRCh37
3,14,200401432,32031331,32031331,NUBPL,32031331,G,A,GRCh37
4,6,1800562,26093141,26093141,HFE,26093141,G,A,GRCh37
...,...,...,...,...,...,...,...,...,...
704634,2,-1,37229716,37229716,HEATR5B,37229716,C,T,GRCh37
704635,2,-1,37230681,37230681,HEATR5B,37230681,T,C,GRCh37
704636,12,-1,32994140,32994140,PKP2,32994140,C,G,GRCh37
704637,5,926590189,168189626,168189626,SLIT3,168189626,G,A,GRCh37
704638,11,-1,126142909,126142909,FOXRED1,126142909,C,T,GRCh37

In [105]:
Data = Data[["Chromosome","RS# (dbSNP)","Start","Stop","GeneSymbol","PositionVCF","ReferenceAlleleVCF","AlternateAlleleVCF"]]
Data.columns = ["chrom","SNPID","Start","End","GENE","POS","REF","ALT"]

In [106]:
Data = Data[(Data["chrom"] !="na") | (Data["SNPID"] != -1) | (Data["POS"] != -1) | (Data["REF"] != "na") | (Data["ALT"] != "na")]
Data = Data.reset_index(drop = True)

In [107]:
Data = Data[Data["SNPID"] > 0]
Data = Data[Data["Start"] > 0]
Data = Data[Data["End"] > 0]
Data = Data[Data["POS"] > 0]
Data = Data.reset_index(drop = True)

In [108]:
Data

       chrom       SNPID      Start        End     GENE        POS REF ALT
0         15   150829393   85342440   85342440   ZNF592   85342440   G   A
1         11   267606829  126145284  126145284  FOXRED1  126145284   C   T
2         11   267606830  126147412  126147412  FOXRED1  126147412   A   G
3         14   200401432   32031331   32031331    NUBPL   32031331   G   A
4          6     1800562   26093141   26093141      HFE   26093141   G   A
...      ...         ...        ...        ...      ...        ...  ..  ..
563703    22   779933527   38373927   38373927    SOX10   38373927   C   T
563704     3   369949841   58156403   58156403     FLNB   58156403   G   A
563705     2  1475705727  109545672  109545672     EDAR  109545672   C   T
563706     7   757907717   50468032   50468032    IKZF1   50468032   C   T
563707     5   926590189  168189626  168189626    SLIT3  168189626   G   A

[563708 rows x 8 columns]

In [109]:
Data["SNPID"] = Data["SNPID"].astype(str)
Data["chrom"] = Data["chrom"].astype(str)
Data["SNPID"] = "rs" + Data["SNPID"]
Data["chrom"] = "chr" + Data["chrom"]

In [110]:
Data

        chrom         SNPID      Start        End     GENE        POS REF ALT
0       chr15   rs150829393   85342440   85342440   ZNF592   85342440   G   A
1       chr11   rs267606829  126145284  126145284  FOXRED1  126145284   C   T
2       chr11   rs267606830  126147412  126147412  FOXRED1  126147412   A   G
3       chr14   rs200401432   32031331   32031331    NUBPL   32031331   G   A
4        chr6     rs1800562   26093141   26093141      HFE   26093141   G   A
...       ...           ...        ...        ...      ...        ...  ..  ..
563703  chr22   rs779933527   38373927   38373927    SOX10   38373927   C   T
563704   chr3   rs369949841   58156403   58156403     FLNB   58156403   G   A
563705   chr2  rs1475705727  109545672  109545672     EDAR  109545672   C   T
563706   chr7   rs757907717   50468032   50468032    IKZF1   50468032   C   T
563707   chr5   rs926590189  168189626  168189626    SLIT3  168189626   G   A

[563708 rows x 8 columns]

In [111]:
Data["Start"] = Data["End"] - 1

In [112]:
Data = Data[Data["chrom"] != "chrMT"]
Data = Data.reset_index(drop = True)

In [113]:
Data

        chrom         SNPID      Start        End     GENE        POS REF ALT
0       chr15   rs150829393   85342439   85342440   ZNF592   85342440   G   A
1       chr11   rs267606829  126145283  126145284  FOXRED1  126145284   C   T
2       chr11   rs267606830  126147411  126147412  FOXRED1  126147412   A   G
3       chr14   rs200401432   32031330   32031331    NUBPL   32031331   G   A
4        chr6     rs1800562   26093140   26093141      HFE   26093141   G   A
...       ...           ...        ...        ...      ...        ...  ..  ..
560998  chr22   rs779933527   38373926   38373927    SOX10   38373927   C   T
560999   chr3   rs369949841   58156402   58156403     FLNB   58156403   G   A
561000   chr2  rs1475705727  109545671  109545672     EDAR  109545672   C   T
561001   chr7   rs757907717   50468031   50468032    IKZF1   50468032   C   T
561002   chr5   rs926590189  168189625  168189626    SLIT3  168189626   G   A

[561003 rows x 8 columns]

In [114]:
Bed = Data.iloc[:, [0, 2, 3]]
Bed.to_csv("ClinVar.bed", sep="\t", header=False, index=False)
!bedtools getfasta -bed ClinVar.bed -fi /pod/2/ke-lab/LUOZ/Reference/Fasta/hg19/hg19.fa -fo ClinVar.txt

In [115]:
from Bio import SeqIO
from Bio.Seq import Seq

In [116]:
meta=[]
sequence=[]

In [117]:
seq = ('ClinVar.txt')
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [118]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [119]:
Fasta

                             Meta Sequence
0         chr15:85342439-85342440        G
1       chr11:126145283-126145284        C
2       chr11:126147411-126147412        A
3         chr14:32031330-32031331        G
4          chr6:26093140-26093141        G
...                           ...      ...
560998    chr22:38373926-38373927        C
560999     chr3:58156402-58156403        G
561000   chr2:109545671-109545672        C
561001     chr7:50468031-50468032        C
561002   chr5:168189625-168189626        G

[561003 rows x 2 columns]

In [120]:
Data = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [121]:
Data

,chrom,SNPID,Start,End,GENE,POS,REF,ALT,Meta,Sequence
0,chr15,rs150829393,85342439,85342440,ZNF592,85342440,G,A,chr15:85342439-85342440,G
1,chr11,rs267606829,126145283,126145284,FOXRED1,126145284,C,T,chr11:126145283-126145284,C
2,chr11,rs267606830,126147411,126147412,FOXRED1,126147412,A,G,chr11:126147411-126147412,A
3,chr14,rs200401432,32031330,32031331,NUBPL,32031331,G,A,chr14:32031330-32031331,G
4,chr6,rs1800562,26093140,26093141,HFE,26093141,G,A,chr6:26093140-26093141,G
...,...,...,...,...,...,...,...,...,...,...
560998,chr22,rs779933527,38373926,38373927,SOX10,38373927,C,T,chr22:38373926-38373927,C
560999,chr3,rs369949841,58156402,58156403,FLNB,58156403,G,A,chr3:58156402-58156403,G
561000,chr2,rs1475705727,109545671,109545672,EDAR,109545672,C,T,chr2:109545671-109545672,C
561001,chr7,rs757907717,50468031,50468032,IKZF1,50468032,C,T,chr7:50468031-50468032,C
561002,chr5,rs926590189,168189625,168189626,SLIT3,168189626,G,A,chr5:168189625-168189626,G

In [122]:
Data = Data[Data["REF"] == Data["Sequence"]]
Data = Data.reset_index(drop = True)

In [123]:
Data

,chrom,SNPID,Start,End,GENE,POS,REF,ALT,Meta,Sequence
0,chr15,rs150829393,85342439,85342440,ZNF592,85342440,G,A,chr15:85342439-85342440,G
1,chr11,rs267606829,126145283,126145284,FOXRED1,126145284,C,T,chr11:126145283-126145284,C
2,chr11,rs267606830,126147411,126147412,FOXRED1,126147412,A,G,chr11:126147411-126147412,A
3,chr14,rs200401432,32031330,32031331,NUBPL,32031331,G,A,chr14:32031330-32031331,G
4,chr6,rs1800562,26093140,26093141,HFE,26093141,G,A,chr6:26093140-26093141,G
...,...,...,...,...,...,...,...,...,...,...
546019,chr22,rs779933527,38373926,38373927,SOX10,38373927,C,T,chr22:38373926-38373927,C
546020,chr3,rs369949841,58156402,58156403,FLNB,58156403,G,A,chr3:58156402-58156403,G
546021,chr2,rs1475705727,109545671,109545672,EDAR,109545672,C,T,chr2:109545671-109545672,C
546022,chr7,rs757907717,50468031,50468032,IKZF1,50468032,C,T,chr7:50468031-50468032,C
546023,chr5,rs926590189,168189625,168189626,SLIT3,168189626,G,A,chr5:168189625-168189626,G

In [124]:
Data.drop(["Meta","Sequence"], axis=1, inplace=True)

In [125]:
Data

        chrom         SNPID      Start        End     GENE        POS REF ALT
0       chr15   rs150829393   85342439   85342440   ZNF592   85342440   G   A
1       chr11   rs267606829  126145283  126145284  FOXRED1  126145284   C   T
2       chr11   rs267606830  126147411  126147412  FOXRED1  126147412   A   G
3       chr14   rs200401432   32031330   32031331    NUBPL   32031331   G   A
4        chr6     rs1800562   26093140   26093141      HFE   26093141   G   A
...       ...           ...        ...        ...      ...        ...  ..  ..
546019  chr22   rs779933527   38373926   38373927    SOX10   38373927   C   T
546020   chr3   rs369949841   58156402   58156403     FLNB   58156403   G   A
546021   chr2  rs1475705727  109545671  109545672     EDAR  109545672   C   T
546022   chr7   rs757907717   50468031   50468032    IKZF1   50468032   C   T
546023   chr5   rs926590189  168189625  168189626    SLIT3  168189626   G   A

[546024 rows x 8 columns]

In [128]:
Data = Data[["chrom", "SNPID", "GENE", "POS", "REF", "ALT"]]

In [129]:
Data

        chrom         SNPID     GENE        POS REF ALT
0       chr15   rs150829393   ZNF592   85342440   G   A
1       chr11   rs267606829  FOXRED1  126145284   C   T
2       chr11   rs267606830  FOXRED1  126147412   A   G
3       chr14   rs200401432    NUBPL   32031331   G   A
4        chr6     rs1800562      HFE   26093141   G   A
...       ...           ...      ...        ...  ..  ..
546019  chr22   rs779933527    SOX10   38373927   C   T
546020   chr3   rs369949841     FLNB   58156403   G   A
546021   chr2  rs1475705727     EDAR  109545672   C   T
546022   chr7   rs757907717    IKZF1   50468032   C   T
546023   chr5   rs926590189    SLIT3  168189626   G   A

[546024 rows x 6 columns]

In [130]:
Data.to_csv("ClinVar_SNP.csv",index=0)

In [131]:
Data.rename(columns={"GENE":"name"}, inplace = True)

/home/luoz/miniconda3/envs/m6AAI/lib/python3.8/site-packages/pandas/core/frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [132]:
Data

        chrom         SNPID     name        POS REF ALT
0       chr15   rs150829393   ZNF592   85342440   G   A
1       chr11   rs267606829  FOXRED1  126145284   C   T
2       chr11   rs267606830  FOXRED1  126147412   A   G
3       chr14   rs200401432    NUBPL   32031331   G   A
4        chr6     rs1800562      HFE   26093141   G   A
...       ...           ...      ...        ...  ..  ..
546019  chr22   rs779933527    SOX10   38373927   C   T
546020   chr3   rs369949841     FLNB   58156403   G   A
546021   chr2  rs1475705727     EDAR  109545672   C   T
546022   chr7   rs757907717    IKZF1   50468032   C   T
546023   chr5   rs926590189    SLIT3  168189626   G   A

[546024 rows x 6 columns]

In [133]:
StopCodon = pd.read_csv("HumanStopCodon.csv")

In [134]:
Data = pd.merge(Data, StopCodon, how="inner", on=["name","chrom"])

In [135]:
Data

,chrom,SNPID,name,POS,REF,ALT,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon
0,chr15,rs150829393,ZNF592,85342440,G,A,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
1,chr15,rs2241645,ZNF592,85333953,A,G,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
2,chr15,rs8182086,ZNF592,85341859,G,A,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
3,chr15,rs143880466,ZNF592,85327524,C,T,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
4,chr15,rs1211858750,ZNF592,85341700,G,A,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525706,chr7,rs376784656,KRBA1,149421739,G,A,+,149412147,149431664,149416729,149431136,149430294,149431664,TGA
525707,chr17,rs1597832055,EZH1,40864491,C,T,-,40852292,40897060,40854549,40880959,40852292,40854610,TAG
525708,chr8,rs782555528,CPSF1,145618807,T,C,-,145618449,145634753,145618532,145634542,145618449,145618580,TAG
525709,chr8,rs1554862601,CPSF1,145619364,C,A,-,145618449,145634753,145618532,145634542,145618449,145618580,TAG
525710,chr8,rs1586620121,CPSF1,145623728,G,A,-,145618449,145634753,145618532,145634542,145618449,145618580,TAG

In [136]:
Data = Data[(Data["POS"]>=Data["txStart"]) & (Data["POS"]<=Data["txEnd"])]
Data = Data.reset_index(drop = True)

In [137]:
Data

,chrom,SNPID,name,POS,REF,ALT,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon
0,chr15,rs150829393,ZNF592,85342440,G,A,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
1,chr15,rs2241645,ZNF592,85333953,A,G,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
2,chr15,rs8182086,ZNF592,85341859,G,A,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
3,chr15,rs143880466,ZNF592,85327524,C,T,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
4,chr15,rs1211858750,ZNF592,85341700,G,A,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521188,chr7,rs376784656,KRBA1,149421739,G,A,+,149412147,149431664,149416729,149431136,149430294,149431664,TGA
521189,chr17,rs1597832055,EZH1,40864491,C,T,-,40852292,40897060,40854549,40880959,40852292,40854610,TAG
521190,chr8,rs782555528,CPSF1,145618807,T,C,-,145618449,145634753,145618532,145634542,145618449,145618580,TAG
521191,chr8,rs1554862601,CPSF1,145619364,C,A,-,145618449,145634753,145618532,145634542,145618449,145618580,TAG
521192,chr8,rs1586620121,CPSF1,145623728,G,A,-,145618449,145634753,145618532,145634542,145618449,145618580,TAG

In [138]:
Data = Data.drop_duplicates(subset=["chrom","POS","name","strand","SNPID"], keep="first")
Data = Data.reset_index(drop = True)

In [139]:
Data

,chrom,SNPID,name,POS,REF,ALT,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon
0,chr15,rs150829393,ZNF592,85342440,G,A,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
1,chr15,rs2241645,ZNF592,85333953,A,G,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
2,chr15,rs8182086,ZNF592,85341859,G,A,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
3,chr15,rs143880466,ZNF592,85327524,C,T,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
4,chr15,rs1211858750,ZNF592,85341700,G,A,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492942,chr7,rs376784656,KRBA1,149421739,G,A,+,149412147,149431664,149416729,149431136,149430294,149431664,TGA
492943,chr17,rs1597832055,EZH1,40864491,C,T,-,40852292,40897060,40854549,40880959,40852292,40854610,TAG
492944,chr8,rs782555528,CPSF1,145618807,T,C,-,145618449,145634753,145618532,145634542,145618449,145618580,TAG
492945,chr8,rs1554862601,CPSF1,145619364,C,A,-,145618449,145634753,145618532,145634542,145618449,145618580,TAG
492946,chr8,rs1586620121,CPSF1,145623728,G,A,-,145618449,145634753,145618532,145634542,145618449,145618580,TAG

### Define SNP sites in Last Exon

In [140]:
Data = Data[(Data["POS"]>Data["LastExonStart"]) & (Data["POS"]<Data["LastExonEnd"])]
Data = Data.drop_duplicates(subset=["chrom","POS","name","strand","SNPID"], keep="first")
Data = Data.reset_index(drop = True)

In [141]:
Data

,chrom,SNPID,name,POS,REF,ALT,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,StopCodon
0,chr15,rs1596137692,ZNF592,85345253,C,A,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
1,chr15,rs143259756,ZNF592,85345216,C,T,+,85291865,85349202,85325906,85345624,85345093,85349202,TGA
2,chr11,rs267606830,FOXRED1,126147412,A,G,+,126139027,126148019,126139101,126147584,126147329,126148019,TGA
3,chr11,rs201261500,FOXRED1,126147375,C,G,+,126139027,126148019,126139101,126147584,126147329,126148019,TGA
4,chr11,rs863224020,FOXRED1,126147430,G,A,+,126139027,126148019,126139101,126147584,126147329,126148019,TGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68281,chr15,rs1473247197,SH3GL3,84286969,G,A,+,84115979,84287495,84116285,84287039,84286833,84287495,TAA
68282,chr20,rs1600755957,HCK,30689296,G,T,+,30639990,30689655,30642082,30689322,30689119,30689655,TGA
68283,chrX,rs149447856,SLC7A3,70145757,C,G,-,70145437,70150975,70145662,70149847,70145437,70145793,TGA
68284,chr12,rs372368908,SMARCD1,50492742,C,T,+,50478754,50494495,50479152,50492783,50492729,50494495,TAG
68285,chr9,rs1218659650,MED27,134735983,G,A,-,134735493,134955295,134735924,134955231,134735493,134736059,TAG

In [142]:
Data = Data.iloc[:,0:13]

In [143]:
Data

,chrom,SNPID,name,POS,REF,ALT,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd
0,chr15,rs1596137692,ZNF592,85345253,C,A,+,85291865,85349202,85325906,85345624,85345093,85349202
1,chr15,rs143259756,ZNF592,85345216,C,T,+,85291865,85349202,85325906,85345624,85345093,85349202
2,chr11,rs267606830,FOXRED1,126147412,A,G,+,126139027,126148019,126139101,126147584,126147329,126148019
3,chr11,rs201261500,FOXRED1,126147375,C,G,+,126139027,126148019,126139101,126147584,126147329,126148019
4,chr11,rs863224020,FOXRED1,126147430,G,A,+,126139027,126148019,126139101,126147584,126147329,126148019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68281,chr15,rs1473247197,SH3GL3,84286969,G,A,+,84115979,84287495,84116285,84287039,84286833,84287495
68282,chr20,rs1600755957,HCK,30689296,G,T,+,30639990,30689655,30642082,30689322,30689119,30689655
68283,chrX,rs149447856,SLC7A3,70145757,C,G,-,70145437,70150975,70145662,70149847,70145437,70145793
68284,chr12,rs372368908,SMARCD1,50492742,C,T,+,50478754,50494495,50479152,50492783,50492729,50494495
68285,chr9,rs1218659650,MED27,134735983,G,A,-,134735493,134955295,134735924,134955231,134735493,134736059

In [144]:
Data.to_csv("ClinVar_filtered.csv", index=0)

In [145]:
Bed = Data.iloc[:, [0, 7, 8]]

In [146]:
Bed

       chrom    txStart      txEnd
0      chr15   85291865   85349202
1      chr15   85291865   85349202
2      chr11  126139027  126148019
3      chr11  126139027  126148019
4      chr11  126139027  126148019
...      ...        ...        ...
68281  chr15   84115979   84287495
68282  chr20   30639990   30689655
68283   chrX   70145437   70150975
68284  chr12   50478754   50494495
68285   chr9  134735493  134955295

[68286 rows x 3 columns]

In [148]:
Bed.to_csv("ClinVar_filtered.bed", sep="\t", header=False, index=False)

In [149]:
!bedtools getfasta -bed ClinVar_filtered.bed -fi /pod/2/ke-lab/LUOZ/Reference/Fasta/hg19/hg19.fa -fo ClinVar_filtered.txt

In [150]:
meta=[]
sequence=[]

In [151]:
seq = ('ClinVar_filtered.txt')

In [152]:
for seq_record in SeqIO.parse(seq, "fasta"):
    meta.append(str(seq_record.id))
    sequence.append(str(seq_record.seq))

In [153]:
Fasta = pd.DataFrame(data ={'Meta':meta,'Sequence':sequence})

In [154]:
Result = pd.merge(Data, Fasta, left_index=True, right_index=True, how='outer')

In [155]:
Result

,chrom,SNPID,name,POS,REF,ALT,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,Meta,Sequence
0,chr15,rs1596137692,ZNF592,85345253,C,A,+,85291865,85349202,85325906,85345624,85345093,85349202,chr15:85291865-85349202,ctggcctgcagtcgccgccgccgccgccAGGTAAGCGCCCCCCGcg...
1,chr15,rs143259756,ZNF592,85345216,C,T,+,85291865,85349202,85325906,85345624,85345093,85349202,chr15:85291865-85349202,ctggcctgcagtcgccgccgccgccgccAGGTAAGCGCCCCCCGcg...
2,chr11,rs267606830,FOXRED1,126147412,A,G,+,126139027,126148019,126139101,126147584,126147329,126148019,chr11:126139027-126148019,GCGCGGAGCAGTGACGGCTGCGATAATAGCGAGGCAGCAGTGCAGC...
3,chr11,rs201261500,FOXRED1,126147375,C,G,+,126139027,126148019,126139101,126147584,126147329,126148019,chr11:126139027-126148019,GCGCGGAGCAGTGACGGCTGCGATAATAGCGAGGCAGCAGTGCAGC...
4,chr11,rs863224020,FOXRED1,126147430,G,A,+,126139027,126148019,126139101,126147584,126147329,126148019,chr11:126139027-126148019,GCGCGGAGCAGTGACGGCTGCGATAATAGCGAGGCAGCAGTGCAGC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68281,chr15,rs1473247197,SH3GL3,84286969,G,A,+,84115979,84287495,84116285,84287039,84286833,84287495,chr15:84115979-84287495,GCGGCTCAAGTAGCCCAGGTCTCCACGCAACAATGAAGCGTGGGCG...
68282,chr20,rs1600755957,HCK,30689296,G,T,+,30639990,30689655,30642082,30689322,30689119,30689655,chr20:30639990-30689655,GGAGTTAGCCTCGCTCAGGGCGCGGCTAAGGCGCCCAGATGGCCTG...
68283,chrX,rs149447856,SLC7A3,70145757,C,G,-,70145437,70150975,70145662,70149847,70145437,70145793,chrX:70145437-70150975,CTACTTTCTTTTAATATCATTTTTTAAAGTTGGTAAGCAGCTAGAC...
68284,chr12,rs372368908,SMARCD1,50492742,C,T,+,50478754,50494495,50479152,50492783,50492729,50494495,chr12:50478754-50494495,ttggaaaGTTAACGCCATGCGCCAAGATGAAGCTATTACTCCAAGC...
68285,chr9,rs1218659650,MED27,134735983,G,A,-,134735493,134955295,134735924,134955231,134735493,134736059,chr9:134735493-134955295,TTATCCAGGATACAAAAGGTTTATTGCTTATAAAAATAAGTTACCA...

In [156]:
Result.drop(["Meta"], axis=1, inplace=True)
Result["GeneLength"] = Result["txEnd"] - Result["txStart"]
Result["LastExonLength"] = Result["LastExonEnd"] - Result["LastExonStart"]

In [157]:
Data = Result

In [158]:
Positive = Data[Data["strand"]=="+"]
Positive = Positive.reset_index(drop = True)
Negative = Data[Data["strand"]=="-"]
Negative = Negative.reset_index(drop = True)

In [159]:
Positive["SNPposition"] = Positive["POS"] - Positive["txStart"]
Negative["SNPposition"] = Negative["txEnd"] - Negative["POS"]+1

In [160]:
Data = Positive.append(Negative)
Data = Data.reset_index(drop = True)

In [161]:
Data

,chrom,SNPID,name,POS,REF,ALT,strand,txStart,txEnd,cdsStart,cdsEnd,LastExonStart,LastExonEnd,Sequence,GeneLength,LastExonLength,SNPposition
0,chr15,rs1596137692,ZNF592,85345253,C,A,+,85291865,85349202,85325906,85345624,85345093,85349202,ctggcctgcagtcgccgccgccgccgccAGGTAAGCGCCCCCCGcg...,57337,4109,53388
1,chr15,rs143259756,ZNF592,85345216,C,T,+,85291865,85349202,85325906,85345624,85345093,85349202,ctggcctgcagtcgccgccgccgccgccAGGTAAGCGCCCCCCGcg...,57337,4109,53351
2,chr11,rs267606830,FOXRED1,126147412,A,G,+,126139027,126148019,126139101,126147584,126147329,126148019,GCGCGGAGCAGTGACGGCTGCGATAATAGCGAGGCAGCAGTGCAGC...,8992,690,8385
3,chr11,rs201261500,FOXRED1,126147375,C,G,+,126139027,126148019,126139101,126147584,126147329,126148019,GCGCGGAGCAGTGACGGCTGCGATAATAGCGAGGCAGCAGTGCAGC...,8992,690,8348
4,chr11,rs863224020,FOXRED1,126147430,G,A,+,126139027,126148019,126139101,126147584,126147329,126148019,GCGCGGAGCAGTGACGGCTGCGATAATAGCGAGGCAGCAGTGCAGC...,8992,690,8403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68281,chr1,rs1572734214,DMRTA2,50885182,T,C,-,50883221,50889172,50884336,50887208,50883221,50885406,TTGTTTTCTTAGAAAATAACATTTATTTCTAGCTCATATCTATGCA...,5951,2185,3991
68282,chr10,rs931052187,SKIDA1,21804984,G,A,-,21802406,21814611,21804024,21806751,21802406,21808587,TTTTAAACAGTGTTTTTAATTGAAAATAAAGCTAAAGCATGCTTTT...,12205,6181,9628
68283,chr10,rs751132666,SKIDA1,21805667,G,A,-,21802406,21814611,21804024,21806751,21802406,21808587,TTTTAAACAGTGTTTTTAATTGAAAATAAAGCTAAAGCATGCTTTT...,12205,6181,8945
68284,chrX,rs149447856,SLC7A3,70145757,C,G,-,70145437,70150975,70145662,70149847,70145437,70145793,CTACTTTCTTTTAATATCATTTTTTAAAGTTGGTAAGCAGCTAGAC...,5538,356,5219
68285,chr9,rs1218659650,MED27,134735983,G,A,-,134735493,134955295,134735924,134955231,134735493,134736059,TTATCCAGGATACAAAAGGTTTATTGCTTATAAAAATAAGTTACCA...,219802,566,219313

In [162]:
Data.to_csv("ClinVar_Fasta.csv", index=0)