In [1]:
import glob,os
import numpy as np
import pandas as pd

### Read multiple files

In [2]:
path = "Outputs/m3cRRACH"

In [3]:
file = glob.glob(os.path.join(path, "*.bed"))

In [4]:
d = []
for f in file:
    d.append(pd.read_table(f))

### Delete empty dataframe

In [5]:
for i in range(len(d))[::-1]:
    if len(d[i]) == 0:
        del d[i]

In [6]:
Data = pd.concat(d)

In [7]:
Data = Data.sort_values(by=["chrom","Start"], axis=0, ascending=True)
Data = Data.reset_index(drop = True)

In [8]:
Data

             name chrom strand     Start       End    Probabilty
0            Xkr4  chr1      -   3214486   3214486  1.121432e-05
1            Xkr4  chr1      -   3214555   3214555  4.471220e-06
2            Xkr4  chr1      -   3214574   3214574  1.215461e-07
3            Xkr4  chr1      -   3214643   3214643  1.321312e-07
4            Xkr4  chr1      -   3214651   3214651  1.648945e-07
...           ...   ...    ...       ...       ...           ...
14458363  Gm21748  chrY      -  90838881  90838881  5.201475e-04
14458364  Gm21748  chrY      -  90839056  90839056  1.035742e-07
14458365  Gm21748  chrY      -  90839059  90839059  2.254588e-02
14458366  Gm21748  chrY      -  90839071  90839071  4.455333e-06
14458367  Gm21748  chrY      -  90839073  90839073  3.232247e-06

[14458368 rows x 6 columns]

### Get iM6A sites

#### For positive strand

In [9]:
idx = (Data["strand"] == "+")

In [10]:
Positive = Data.loc[idx, ["name", "chrom", "strand", "Start", "End", "Probabilty"]]

In [11]:
Positive["Start"] = Positive["Start"] + 1
Positive["End"] = Positive["End"] + 1

In [12]:
Positive

             name chrom strand     Start       End    Probabilty
8634       Lypla1  chr1      +   4807850   4807850  9.441003e-05
8635      Gm37988  chr1      +   4808007   4808007  1.382802e-07
8636       Lypla1  chr1      +   4808009   4808009  1.864420e-07
8637      Gm37988  chr1      +   4808009   4808009  3.477740e-07
8638       Lypla1  chr1      +   4808018   4808018  8.069958e-05
...           ...   ...    ...       ...       ...           ...
14458358    Erdr1  chrY      +  90816192  90816192  1.260865e-07
14458359    Erdr1  chrY      +  90816200  90816200  6.407406e-03
14458360    Erdr1  chrY      +  90816207  90816207  1.710710e-07
14458361    Erdr1  chrY      +  90816262  90816262  2.897553e-04
14458362    Erdr1  chrY      +  90816278  90816278  2.010165e-04

[7457301 rows x 6 columns]

#### For negative strand

In [13]:
idx = (Data["strand"] == "-")

In [14]:
Negative = Data.loc[idx, ["name", "chrom", "strand", "Start", "End", "Probabilty"]]

In [15]:
Negative["Start"] = Negative["Start"] - 1
Negative["End"] = Negative["End"] - 1

In [16]:
Negative

             name chrom strand     Start       End    Probabilty
0            Xkr4  chr1      -   3214485   3214485  1.121432e-05
1            Xkr4  chr1      -   3214554   3214554  4.471220e-06
2            Xkr4  chr1      -   3214573   3214573  1.215461e-07
3            Xkr4  chr1      -   3214642   3214642  1.321312e-07
4            Xkr4  chr1      -   3214650   3214650  1.648945e-07
...           ...   ...    ...       ...       ...           ...
14458363  Gm21748  chrY      -  90838880  90838880  5.201475e-04
14458364  Gm21748  chrY      -  90839055  90839055  1.035742e-07
14458365  Gm21748  chrY      -  90839058  90839058  2.254588e-02
14458366  Gm21748  chrY      -  90839070  90839070  4.455333e-06
14458367  Gm21748  chrY      -  90839072  90839072  3.232247e-06

[7001067 rows x 6 columns]

In [17]:
iM6A = pd.concat([Positive, Negative], axis=0)

In [18]:
iM6A = iM6A.sort_values(by=["chrom","Start"], axis=0, ascending=True)
iM6A = iM6A.reset_index(drop = True)

In [19]:
iM6A

             name chrom strand     Start       End    Probabilty
0            Xkr4  chr1      -   3214485   3214485  1.121432e-05
1            Xkr4  chr1      -   3214554   3214554  4.471220e-06
2            Xkr4  chr1      -   3214573   3214573  1.215461e-07
3            Xkr4  chr1      -   3214642   3214642  1.321312e-07
4            Xkr4  chr1      -   3214650   3214650  1.648945e-07
...           ...   ...    ...       ...       ...           ...
14458363  Gm21748  chrY      -  90838880  90838880  5.201475e-04
14458364  Gm21748  chrY      -  90839055  90839055  1.035742e-07
14458365  Gm21748  chrY      -  90839058  90839058  2.254588e-02
14458366  Gm21748  chrY      -  90839070  90839070  4.455333e-06
14458367  Gm21748  chrY      -  90839072  90839072  3.232247e-06

[14458368 rows x 6 columns]

In [20]:
iM6A = iM6A[["chrom", "Start", "End", "name", "Probabilty", "strand"]]

In [21]:
iM6A["End"] = iM6A["End"] + 1

In [22]:
iM6A

         chrom     Start       End     name    Probabilty strand
0         chr1   3214485   3214486     Xkr4  1.121432e-05      -
1         chr1   3214554   3214555     Xkr4  4.471220e-06      -
2         chr1   3214573   3214574     Xkr4  1.215461e-07      -
3         chr1   3214642   3214643     Xkr4  1.321312e-07      -
4         chr1   3214650   3214651     Xkr4  1.648945e-07      -
...        ...       ...       ...      ...           ...    ...
14458363  chrY  90838880  90838881  Gm21748  5.201475e-04      -
14458364  chrY  90839055  90839056  Gm21748  1.035742e-07      -
14458365  chrY  90839058  90839059  Gm21748  2.254588e-02      -
14458366  chrY  90839070  90839071  Gm21748  4.455333e-06      -
14458367  chrY  90839072  90839073  Gm21748  3.232247e-06      -

[14458368 rows x 6 columns]

### Get RAC sites for iM6A

In [24]:
RAC = pd.read_table("RRACH.bed", header=None)

In [25]:
RAC.columns = ["chrom", "Start", "End", "name", "Score", "strand"]

In [26]:
RAC

         chrom     Start       End name  Score strand
0         chr1   3214554   3214555    .      0      -
1         chr1   3214819   3214820    .      0      -
2         chr1   3217200   3217201    .      0      -
3         chr1   3217240   3217241    .      0      -
4         chr1   3217265   3217266    .      0      -
...        ...       ...       ...  ...    ...    ...
11598713  chrY  90432176  90432177    .      0      +
11598714  chrY  90797329  90797330    .      0      +
11598715  chrY  90797354  90797355    .      0      +
11598716  chrY  90802317  90802318    .      0      +
11598717  chrY  90815212  90815213    .      0      +

[11598718 rows x 6 columns]

In [27]:
RAC.drop(["name", "Score"], axis=1, inplace=True)

In [28]:
RAC = pd.merge(RAC, iM6A, how="inner", on=["chrom", "Start", "End", "strand"])

In [29]:
RAC

         chrom     Start       End strand     name    Probabilty
0         chr1   3214554   3214555      -     Xkr4  4.471220e-06
1         chr1   3214819   3214820      -     Xkr4  6.132965e-03
2         chr1   3217200   3217201      -     Xkr4  1.622632e-06
3         chr1   3217240   3217241      -     Xkr4  1.446935e-05
4         chr1   3217265   3217266      -     Xkr4  1.273187e-05
...        ...       ...       ...    ...      ...           ...
12905507  chrY  90432176  90432177      +  Gm20837  5.922407e-05
12905508  chrY  90797329  90797330      +    Erdr1  4.198411e-06
12905509  chrY  90797354  90797355      +    Erdr1  1.654949e-06
12905510  chrY  90802317  90802318      +    Erdr1  6.104335e-07
12905511  chrY  90815212  90815213      +    Erdr1  2.840708e-06

[12905512 rows x 6 columns]

In [30]:
RAC = RAC[["chrom", "Start", "End", "name", "Probabilty", "strand"]]

In [31]:
RAC = RAC.drop_duplicates()

In [32]:
RAC = RAC.reset_index(drop = True)

In [33]:
RAC

         chrom     Start       End     name    Probabilty strand
0         chr1   3214554   3214555     Xkr4  4.471220e-06      -
1         chr1   3214819   3214820     Xkr4  6.132965e-03      -
2         chr1   3217200   3217201     Xkr4  1.622632e-06      -
3         chr1   3217240   3217241     Xkr4  1.446935e-05      -
4         chr1   3217265   3217266     Xkr4  1.273187e-05      -
...        ...       ...       ...      ...           ...    ...
11598713  chrY  90432176  90432177  Gm20837  5.922407e-05      +
11598714  chrY  90797329  90797330    Erdr1  4.198411e-06      +
11598715  chrY  90797354  90797355    Erdr1  1.654949e-06      +
11598716  chrY  90802317  90802318    Erdr1  6.104335e-07      +
11598717  chrY  90815212  90815213    Erdr1  2.840708e-06      +

[11598718 rows x 6 columns]

In [34]:
iM6A = RAC

### Label predicted RAC sites

#### all3combined m6A-CLIP

In [41]:
CLIP = pd.read_table("Annotation/RRACH_precise_m6A_sites_all3combined_mm10.bed", header=None)
CLIP.columns = ["chrom", "Start", "End", "name", "Score", "strand"]
CLIP = CLIP.sort_values(by=["chrom","Start"], axis=0, ascending=True)
CLIP = CLIP.reset_index(drop = True)

In [42]:
Overlap = pd.merge(iM6A, CLIP, how="inner", on=["chrom", "Start", "End", "strand"])
Overlap.drop(["name_y"], axis=1, inplace=True)
Overlap.rename(columns={"name_x":"name"}, inplace = True)

In [43]:
Overlap

      chrom      Start        End    name  Probabilty strand  Score
0      chr1    9724630    9724631  Vcpip1    0.163155      -      1
1      chr1    9746036    9746037  Vcpip1    0.505259      -      1
2      chr1    9746064    9746065  Vcpip1    0.335964      -      1
3      chr1   16677290   16677291  Tmem70    0.227239      +      1
4      chr1   21401822   21401823   Kcnq5    0.003714      -      1
...     ...        ...        ...     ...         ...    ...    ...
40567  chrX  101682284  101682285     Ogt    0.083317      +      1
40568  chrX  113043216  113043217     Chm    0.493026      -      1
40569  chrX  150409520  150409521  Tmem29    0.021518      -      1
40570  chrX  153500130  153500131  Ubqln2    0.120186      +      1
40571  chrX  164422715  164422716    Piga    0.237108      +      1

[40572 rows x 7 columns]

In [44]:
iM6A = pd.merge(iM6A, Overlap, how="left", on=["chrom", "Start", "End", "name", "Probabilty", "strand"])
iM6A.rename(columns={"Score":"3c"}, inplace = True)
iM6A = iM6A.fillna(0)
iM6A["3c"] = iM6A["3c"].astype(int)

In [45]:
iM6A

         chrom     Start       End     name    Probabilty strand  3c
0         chr1   3214554   3214555     Xkr4  4.471220e-06      -   0
1         chr1   3214819   3214820     Xkr4  6.132965e-03      -   0
2         chr1   3217200   3217201     Xkr4  1.622632e-06      -   0
3         chr1   3217240   3217241     Xkr4  1.446935e-05      -   0
4         chr1   3217265   3217266     Xkr4  1.273187e-05      -   0
...        ...       ...       ...      ...           ...    ...  ..
11598713  chrY  90432176  90432177  Gm20837  5.922407e-05      +   0
11598714  chrY  90797329  90797330    Erdr1  4.198411e-06      +   0
11598715  chrY  90797354  90797355    Erdr1  1.654949e-06      +   0
11598716  chrY  90802317  90802318    Erdr1  6.104335e-07      +   0
11598717  chrY  90815212  90815213    Erdr1  2.840708e-06      +   0

[11598718 rows x 7 columns]

In [46]:
iM6A.to_csv("iM6A_m3cRRACH_Label.csv", index=0)